<div class="row add-user">
  <div class="col-sm-12 col-md-10 mx-auto">
    <div class="chk-block">
      <!-- <div class="chk-block-title">
        <h3 class="text-capitalize">Add User</h3>
      </div> -->
      <div class="chk-block-content">
        <form #addUserForm="ngForm" (keypress.enter)="addUser(addUserForm)">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="firstName">
                <span class="red">*&nbsp;</span>First Name</label>
              <input name="firstName" #firstName="ngModel" [(ngModel)]="addUserCommand.firstName" class="form-control" type="text" placeholder="First Name"
                (keypress)="removeError()" required>
              <div *ngIf="(showError && addUserCommand.firstName === null) || (firstName.invalid && (firstName.dirty || firstName.touched))">
                <small *ngIf="firstName.errors?.required" class="chankya-block" class="text-danger">
                  Please enter First Name
                </small>
              </div>
            </div>

            <div class="form-group  col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <img class="userPic" id="userPictureAdd" src="{{userPic}}">
                </div>
                <div class="col-md-9">
                  <label class="col-form-label" for="userPic">
                    Profile Picture
                  </label>
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="uploadImage()" type="button">Upload</button>
                </div>
              </div>
            </div>


          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="lastName">
                <span class="red">*&nbsp;</span>Last Name</label>
              <input name="lastName" #lastName="ngModel" [(ngModel)]="addUserCommand.lastName" class="form-control" type="text" placeholder="Last Name"
                (keypress)="removeError()" required>
              <div *ngIf="(showError && addUserCommand.lastName === null) || (lastName.invalid && (lastName.dirty || lastName.touched))">
                <small *ngIf="lastName.errors?.required" class="chankya-block" class="text-danger">
                  Please enter Last Name
                </small>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="gender">Gender</label>
              <select class="form-control" name="gender" #gender="ngModel" [(ngModel)]="addUserCommand.gender">
                <option *ngFor="let type of genderArray" [value]="type">{{type}}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="email">
                <span class="red">*&nbsp;</span>Email</label>
              <input name="email" #email="ngModel" [(ngModel)]="addUserCommand.email" class="form-control" type="email" placeholder="Email"
                (keypress)="removeError()" required>
              <div *ngIf="(showError && addUserCommand.email === null) || (email.invalid && (email.dirty || email.touched))">
                <small *ngIf="email.errors?.required" class="chankya-block" class="text-danger">
                  Please enter Email
                </small>
                <small *ngIf="email.errors?.email && !email.errors?.required" class="chankya-block" class="text-danger">
                  Email is invalid
                </small>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="col-form-label" for="userId">User ID</label>
              <input name="userId" #userId="ngModel" [(ngModel)]="addUserCommand.email" class="form-control" type="text" placeholder="User ID"
                readonly>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="mobile">Mobile Number</label>
              <input name="mobile" #mobile="ngModel" [(ngModel)]="addUserCommand.mobile" class="form-control" type="text" placeholder="Mobile Number"
                (keypress)="utils.inputFieldCheck.isPureNumeric($event)">
              <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="phone">
                <span class="red">*&nbsp;</span>Phone Number</label>
              <input name="phone" #phone="ngModel" [(ngModel)]="addUserCommand.phone" class="form-control" type="text" placeholder="Phone Number"
                (keypress)="utils.inputFieldCheck.isPureNumeric($event)" required>
              <div *ngIf="(showError && addUserCommand.phone === null) || (phone.invalid && (phone.dirty || phone.touched))">
                <small *ngIf="phone.errors?.required" class="chankya-block" class="text-danger">
                  Please enter Phone Number
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="emergencyContact">
                <span class="red">*&nbsp;</span>Emergency Contact</label>
              <input name="emergencyContact" #emergencyContact="ngModel" [(ngModel)]="addUserCommand.emergencyContact" class="form-control"
                type="text" placeholder="Emergency Contact" (keypress)="utils.inputFieldCheck.isPureNumeric($event)" required>
              <div *ngIf="(showError && addUserCommand.emergencyContact === null) || (emergencyContact.invalid && (emergencyContact.dirty || emergencyContact.touched))">
                <small *ngIf="emergencyContact.errors?.required" class="chankya-block" class="text-danger">
                  Please enter Emergency Contact
                </small>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="licenseNumber">
                <span class="red">*&nbsp;</span>License Number</label>
              <input name="licenseNumber" #licenseNumber="ngModel" [(ngModel)]="addUserCommand.licenseNumber" class="form-control" type="text"
                placeholder="License Number" (keypress)="removeError()" required>
              <div *ngIf="(showError && addUserCommand.licenseNumber === null) || (licenseNumber.invalid && (licenseNumber.dirty || licenseNumber.touched))">
                <small *ngIf="licenseNumber.errors?.required" class="chankya-block" class="text-danger">
                  Please enter License Number
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="licenseIssueDate">License Issue Date</label>
              <div class="input-group">
                <!-- <input class="form-control whiteBg" name="licenseIssueDate" placeholder="dd-mm-yyyy" ngx-mydatepicker [(ngModel)]="licenseIssueDate"
                  [options]="issueDateOptions" (click)="dp.toggleCalendar()" #dp="ngx-mydatepicker" (keypress)="removeError()" (dateChanged)="onDateChanged($event, 0)"
                  readonly /> -->
                <!-- <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" (click)="dp.toggleCalendar()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span> -->
                <input class="form-control" id="date-input" type="date" [max]="todayDateValue && addUserCommand.licenseExpiryDate" name="licenseIssueDate"
                  [(ngModel)]="addUserCommand.licenseIssueDate">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="licenseExpiryDate">License Expiry Date</label>
              <div class="input-group">
                <input class="form-control" id="date-input" type="date" [min]="todayDateValue && addUserCommand.licenseIssueDate" name="licenseExpiryDate"
                  [(ngModel)]="addUserCommand.licenseExpiryDate">
                <!-- <input class="form-control whiteBg" name="licenseExpiryDate" placeholder="dd-mm-yyyy" ngx-mydatepicker [(ngModel)]="licenseExpiryDate"
                  [options]="expiryDateOptions" #dp2="ngx-mydatepicker" (keypress)="removeError()" (dateChanged)="onDateChanged($event, 1)"
                  readonly />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" (click)="dp2.toggleCalendar()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span> -->
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="employeeId">Employee ID</label>
              <input name="employeeId" #employeeId="ngModel" [(ngModel)]="addUserCommand.employeeId" class="form-control" type="text" placeholder="Employee ID"
                (keypress)="removeError()">
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="employeeType">Employee Type</label>
              <select class="form-control" name="employeeType" #employeeType="ngModel" [(ngModel)]="addUserCommand.employeeType">
                <option *ngFor="let type of employeeTypeArray" [value]="type">{{type}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <!-- <div class="form-group col-md-6">
              <label class="col-form-label" for="dailyExpenseLimit">Daily Expense Limit</label>

              <input name="dailyExpenseLimit" #dailyExpenseLimit="ngModel" [(ngModel)]="addUserCommand.dailyExpenseLimit" class="form-control"
                type="text" placeholder="Daily Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">
              <div *ngIf="dailyExpenseLimit.invalid && (dailyExpenseLimit.dirty || dailyExpenseLimit.touched)">

              </div>
            </div> -->

            <div class="form-group col-md-6">
              <label class="col-form-label" for="dailyExpenseLimit">Daily Expense Limit</label>
              <div class="input-group form-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="dailyExpenseLimit" #dailyExpenseLimit="ngModel" [(ngModel)]="addUserCommand.dailyExpenseLimit"
                  aria-label="Amount (to the nearest dollar)" type="text" placeholder="Daily Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">
                <div *ngIf="dailyExpenseLimit.invalid && (dailyExpenseLimit.dirty || dailyExpenseLimit.touched)">

                </div>

              </div>
            </div>
            <!-- <div class="form-group col-md-6">
            <label class="col-form-label" for="dailyExpenseLimit">Daily Expense Limit</label>


              <span class="input-group-addon">$
              <input type="text" class="form-control"name="dailyExpenseLimit" #dailyExpenseLimit="ngModel" [(ngModel)]="addUserCommand.dailyExpenseLimit"
               aria-label="Amount (to the nearest dollar)" type="text" placeholder="Daily Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">
           </span>
           <div *ngIf="dailyExpenseLimit.invalid && (dailyExpenseLimit.dirty || dailyExpenseLimit.touched)">

            </div>

          </div> -->
            <!-- <div class="form-group col-md-6">


              <label class="col-form-label" for="weeklyExpenseLimit">Weekly Expense Limit</label>

              <span class="input-group-addon">$
              <input name="weeklyExpenseLimit" #weeklyExpenseLimit="ngModel" [(ngModel)]="addUserCommand.weeklyExpenseLimit" class="form-control"
                type="text" placeholder="Weekly Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">
                </span>
              <div *ngIf="weeklyExpenseLimit.invalid && (weeklyExpenseLimit.dirty || weeklyExpenseLimit.touched)">

              </div>
            </div> -->
            <div class="form-group col-md-6">
              <label class="col-form-label" for="weeklyExpenseLimit">Weekly Expense Limit</label>
              <div class="input-group form-group">
                <span class="input-group-addon">$</span>
                <input name="weeklyExpenseLimit" #weeklyExpenseLimit="ngModel" [(ngModel)]="addUserCommand.weeklyExpenseLimit" class="form-control"
                  type="text" placeholder="Weekly Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)" aria-label="Amount (to the nearest dollar)">

                <div *ngIf="weeklyExpenseLimit.invalid && (weeklyExpenseLimit.dirty || weeklyExpenseLimit.touched)">

                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="weeklyExpenseLimit">Monthly Expense Limit</label>
              <div class="input-group form-group">
                <span class="input-group-addon">$</span>
                <input name="monthlyExpenseLimit" #monthlyExpenseLimit="ngModel" [(ngModel)]="addUserCommand.monthlyExpenseLimit" class="form-control"
                  type="text" placeholder="Monthly Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">

                <div *ngIf="monthlyExpenseLimit.invalid && (monthlyExpenseLimit.dirty || monthlyExpenseLimit.touched)">

                </div>
              </div>
            </div>
            <!-- <div class="form-group col-md-6">
                <div class="input-group form-group">

              <label class="col-form-label" for="monthlyExpenseLimit">Monthly Expense Limit</label>
              <span class="input-group-addon">$</span>
              <input name="monthlyExpenseLimit" #monthlyExpenseLimit="ngModel" [(ngModel)]="addUserCommand.monthlyExpenseLimit" class="form-control"
                type="text" placeholder="Monthly Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">

                <div *ngIf="monthlyExpenseLimit.invalid && (monthlyExpenseLimit.dirty || monthlyExpenseLimit.touched)">

              </div>
              </div>
            </div> -->
            <div class="form-group col-md-6">
              <label for="formSelect2" class="fuelGrade">Fuel Grades Restriction</label>
              <select name="fuelGradesRestriction" #fuelGradesRestriction="ngModel" [(ngModel)]="addUserCommand.fuelGradesRestriction"
                multiple class="form-control" id="formSelect2">
                <option *ngFor="let fuelGradesRestriction of fuelGradesArray" [value]="fuelGradesRestriction">{{fuelGradesRestriction}}</option>
              </select>
            </div>
          </div>
          <!-- <div class="form-row">
            <div class="form-group col-md-6">
              <label for="formSelect1">Fuel Grades</label>
              <select name="fuelGrades" #fuelGrades="ngModel" [(ngModel)]="addUserCommand.fuelGrades" multiple class="form-control" id="formSelect1">
                <option *ngFor="let fuelGrade of fuelGradesArray" [value]="fuelGrade">{{fuelGrade}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="formSelect2">Fuel Grades Restriction</label>
              <select name="fuelGradesRestriction" #fuelGradesRestriction="ngModel" [(ngModel)]="addUserCommand.fuelGradesRestriction"
                required multiple class="form-control" id="formSelect2">
                <option *ngFor="let fuelGradesRestriction of fuelGradesArray" [value]="fuelGradesRestriction">{{fuelGradesRestriction}}</option>
              </select>
            </div>
          </div> -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <button class="btn btn-primary btn-lg btn-square" (click)="addUser(addUserForm)" type="submit">Add New User</button>
            </div>
          </div>
          <div class="form-row">
            <!-- <small *ngIf="showError" class="chankya-block" class="text-danger">
              Please enter missing details.
            </small> -->
            <div *ngIf="responseSuccess === true" style="text-align: center;" class="col-sm-12 alert bg-success alert-dismissible fade show"
              role="alert">
              <strong></strong> {{responseMessage}}
            </div>
            <div *ngIf="responseFail === true" style="text-align: center;" class="col-sm-12 alert bg-danger alert-dismissible fade show"
              role="alert">
              <strong></strong> {{responseMessage}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>