<!--  Top menu -->
<nav id="mainTopNav" class="navbar navbar-expand-md navbar-top fixed-top">
	<div class="container">
			<ul class="navbar-nav right ml-auto list-unstyled">
				<li class="nav-item">
					<a class="nav-link">
            <i class="fa fa-envelope-o mr-1"></i>
            <span class="font-sm">
            <a href="mailto:info@fuelic.com" *ngIf="getLocation() == 'FUELIC'">info@fuelic.com</a>
              <a href="mailto:sales@oodak.com" *ngIf="getLocation() == 'OODAK'">sales@oodak.com</a>
            </span>
            &nbsp;&nbsp;

            <i class="fa fa-phone mr-1"></i>
            <span class="font-sm">
            <a href="1800940547">1800 940 547 (Australia)</a>
            </span>
            &nbsp;&nbsp;

            <i class="fa fa-phone mr-1"></i>
            <span class="font-sm">
            <a href="+918810496224">+91-8810496224 (India)</a>
            </span>
          </a>
				</li>
			</ul>
	</div>
</nav>
<!-- Main Menu -->
<nav id="mainNav" class="navbar navbar-secondary navbar-expand-md navbar-dark fixed-top {{router?.url == '/home' ? '' : ''}}">
	<div class="container">
		<a class="navbar-brand" [routerLink]="['/', 'home']" routerLinkActive="active-link">
			<img src="assets/img/logo-oodak.png" class="img-fluid" width="179" height="42" *ngIf="getLocation() == 'OODAK'">
      <h1 class="fw-700 text-white" *ngIf="getLocation() == 'FUELIC'">FUELIC</h1>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul menuToggleDirective id="main" class="navbar-nav ml-auto main-menu list-unstyled">
				<li menuToggleLink class="nav-item text-white" routerLinkActive="open" *ngFor="let menuItem of menuItems.getMainMenu()">
					<a menuToggle class="nav-link" [routerLink]="['/', menuItem.state]" routerLinkActive="active-link" *ngIf="menuItem.type == 'link'">
						{{ menuItem?.name }}
					</a>
					<a menuToggle *ngIf="menuItem.type == 'sub'" class="nav-link" href="javascript:void(0)">{{ menuItem?.name }}&nbsp;
						<i class="{{ menuItem?.icon }}"></i>
					</a>
          <a menuToggle *ngIf="menuItem.type == 'target'" class="nav-link" (click)="scrolltoNPD($event)">{{ menuItem?.name }}&nbsp;
            <i class="{{ menuItem?.icon }}"></i>
          </a>
					<ul *ngIf="menuItem.type == 'sub' && menuItem?.children" class="sub-menu arrow-up list-unstyled" >
						<li class="nav-item" routerLinkActive="open" *ngFor="let grandchildItem of menuItem?.children">
							<a class="nav-link" [routerLink]="['/', grandchildItem.state]" routerLinkActive="active-link" *ngIf="grandchildItem.type == 'link'">
								{{ grandchildItem?.name }}
							</a>
							<a menuToggle *ngIf="grandchildItem.type == 'sub'" class="nav-link" href="javascript:void(0)">{{ grandchildItem?.name }}
								<i class="{{ menuItem?.icon }}"></i>
							</a>
							<ul *ngIf="grandchildItem.type == 'sub' && grandchildItem?.children" class="sub-menu arrow-right list-unstyled" >
								<li class="nav-item" routerLinkActive="open" *ngFor="let greatGrandchildItem of grandchildItem?.children">
									<a class="nav-link" [routerLink]="['/', greatGrandchildItem.state]" routerLinkActive="active-link" *ngIf="greatGrandchildItem.type == 'link'">
										{{ greatGrandchildItem?.name }}
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="nav-item dropdown">
            <a href="#" class="btn btn-md btn-orange dropdown-toggle" data-toggle="dropdown">Message Us <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-lr dropdown-menu-right" id="requestDemoDropdown" role="menu">
                <div class="col-lg-12">
                    <div app-request-demo></div>
                </div>
            </ul>
        </li>
        <!--li class="nav-item dropdown menu-login">
          <a class="btn btn-lg btn-orange font-sm dropdown-toggle" data-toggle="dropdown">
            <span class="font-sm">Login</span>
          </a>
          <ul class="dropdown-menu dropdown-lr" role="menu">
           <!-- <li><a href="http://fuelic.com/fleet" target="_blank" class="dropdown-item">Fuelic Fleet</a></li>
             <!-- <li><a href="http://fuelic.com/fleet" target="_blank" class="dropdown-item">Fuelic Station</a></li>
          </ul>
        </li-->
			</ul>
		</div>
	</div>
</nav>
