.red {
    color: red;
}

.whiteBg {
    background-color: #ffffff !important;
}

.userPic {
    height: 80px;
}

.padLeft0px {
    padding-left: 0px;
}

.padLeft0px label {
    margin-right: 10px
}

.fuelGrade {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}

.dropdown-custom-button {
    background-color: white;
    text-align: left;
    color: #414658;
}

.dropdown-custom-button:after {
    color: white;
}

.dropdown-custom-button:hover {
    background-color: white;
}

.dropdown-list {
    left: -128px !important;
}

.dropdown-list a {
    color: #414658;
}