.red {
    color: red;
}

.dropdown-custom-button {
    background-color: white;
    text-align: left;
    color: #414658;
}

.dropdown-custom-button:after {
    color: white;
}

.dropdown-custom-button:hover {
    background-color: white;
}

.dropdown-list {
    left: -128px !important;
}

.dropdown-list-type {
    left: -329px !important;
}

.dropdown-list a,
.dropdown-list-type a {
    color: #414658;
}

.dropdown-custom-list {
    max-height: 200px;
    overflow-y: auto;
}

.map-div {
    height: 500px;
    display: inherit;
}

.map-main {
    height: 470px;
    overflow: hidden;
}

#map {
    height: 100%;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

 .pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

.pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}