<div class="row">
  <div class="col-sm-12 col-md-10 mx-auto">
    <div class="chk-block">
      <div class="chk-block-title" style="display: flex">
        <h3 class="text-capitalize" style="width: 95%;">Location</h3>
        <button class="btn btn-primary btn-circle square-40" (click)="closeForm()" type="button">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </div>
      <div class="chk-block-content">
        <form #fleetLocationForm="ngForm" (keydown.enter)="$event.preventDefault()">
          <!-- #newFleetForm="ngForm" (keypress.enter)="createNewFleetBusiness(newFleetForm)" -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="locationName">
                Location Name
              </label>
              <input name="locationName" #locationName="ngModel" [(ngModel)]="addFleetLocation.locationName" class="form-control" type="text"
                placeholder="Location Name" (keypress)="removeError()">
            </div>

            <div class="form-group col-md-6">
              <div>
                <label class="col-form-label" for="isHeadOffice">
                  <span class="red">*&nbsp;</span> Is Head Office
                </label>
              </div>
              <div style="display: flex;">
                <div>
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input class="custom-control-input" [(ngModel)]="addFleetLocation.isHeadOffice" [ngModelOptions]="{standalone: true}" (click)="setHeadOffice(true)"
                      type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Yes</span>
                  </label>
                </div>
                <div style="margin-left: 10px;">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input class="custom-control-input" [(ngModel)]="isNotHeadOffice" [ngModelOptions]="{standalone: true}" (click)="setHeadOffice(false)"
                      type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">No</span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row" style="display: none;">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="latitude">
                Latitude
              </label>
              <input name="latitude" id="latitude" #latitude="ngModel" [(ngModel)]="addFleetLocation.latitude" class="form-control" type="text"
                placeholder="Latitude" (keypress)="removeError()">
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="longitude">
                Longitude
              </label>
              <input name="longitude" id="longitude" #longitude="ngModel" [(ngModel)]="addFleetLocation.longitude" class="form-control"
                type="text" placeholder="Longitude" (keypress)="removeError()">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="country">
                <span class="red">*&nbsp;</span>Country
              </label>
              <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <select class="form-control" (blur)="checkBlankField('country')" name="country" #country="ngModel" [(ngModel)]="addFleetLocation.country"
                  (change)='getCountry($event.target.value)'>
                  <option *ngFor="let country of countryArray" [value]="country.country">{{country.country}}</option>
                </select>
              </div>
              <div *ngIf="(showErrorDropdown && countryError)">
                <small class="chankya-block" class="text-danger">
                  Please select Country
                </small>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="col-form-label" for="addressLine">
                <span class="red">*&nbsp;</span> Address Line
              </label>
              <input name="addressLine" [id]="returnInputBoxId()" #addressLine="ngModel" [(ngModel)]="addFleetLocation.addressLine" class="form-control"
                type="text" placeholder="Address Line" (keyup)="addressChange($event)" required>
              <div *ngIf="(showError && addFleetLocation.addressLine === null) || (addressLine.invalid && (addressLine.dirty || addressLine.touched))">
                <small *ngIf="addressLine.errors?.required" class="chankya-block" class="text-danger">
                  Address Line is required
                </small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="city">
                <span class="red">*&nbsp;</span>City
              </label>
              <input name="city" #city="ngModel" [(ngModel)]="addFleetLocation.city" class="form-control" type="text" placeholder="City"
                (keypress)="removeError()" required>
              <div *ngIf="(showError && addFleetLocation.city === null) || (city.invalid && (city.dirty || city.touched))">
                <small *ngIf="city.errors?.required" class="chankya-block" class="text-danger">
                  City is required
                </small>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="state">
                <span class="red">*&nbsp;</span>State
              </label>
              <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <select class="form-control" (change)="checkBlankField('state')" (blur)="checkBlankField('state')" name="state" #state="ngModel"
                  [(ngModel)]="addFleetLocation.state">
                  {{addFleetLocation.state}}
                  <option *ngFor="let state of stateArray" [value]="state">{{state}}</option>
                </select>
              </div>
              <div *ngIf="(showErrorDropdown && stateError)">
                <small class="chankya-block" class="text-danger">
                  Please enter State
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="postCode">
                <span class="red">*&nbsp;</span>Post Code
              </label>
              <input name="postCode" #postCode="ngModel" [(ngModel)]="addFleetLocation.postCode" class="form-control" type="text" placeholder="Post Code"
                (keypress)="removeError()" required>
              <div *ngIf="(showError && addFleetLocation.postCode === null) || (postCode.invalid && (postCode.dirty || postCode.touched))">
                <small *ngIf="postCode.errors?.required" class="chankya-block" class="text-danger">
                  Post Code is required
                </small>
              </div>
            </div>

          </div>
          <div class="form-row">
            <div class="chk-block-title col-md-12" style="border: 0px;">
              <h3 class="text-capitalize" style="width: 100%;">Contact</h3>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="contactPerson">
                <span class="red">*&nbsp;</span>Contact Person</label>
              <input name="contactPerson" #contactPerson="ngModel" [(ngModel)]="addFleetLocation.contactPerson" class="form-control" type="text"
                placeholder="Contact Person" required>
              <div *ngIf="(showError && addFleetLocation.contactPerson === null) || (contactPerson.invalid && (contactPerson.dirty || contactPerson.touched))">
                <small *ngIf="contactPerson.errors?.required" class="chankya-block" class="text-danger">
                  Please enter Name
                </small>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="city">
                <span class="red">*&nbsp;</span>Email
              </label>
              <input name="email" #email="ngModel" [(ngModel)]="addFleetLocation.contactPersonEmail" class="form-control" type="email"
                placeholder="Email" (keypress)="removeError()" required>
              <div *ngIf="(showError && addFleetLocation.contactPersonEmail === null) || (email.invalid && (email.dirty || email.touched))">
                <small *ngIf="email.errors?.required" class="chankya-block" class="text-danger">
                  Email is required
                </small>
                <small *ngIf="email.errors?.email && !email.errors?.required" class="chankya-block" class="text-danger">
                  Email is invalid
                </small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="contactPersonMobile">
                <span class="red">*&nbsp;</span>Mobile Number</label>
              <input name="contactPersonMobile" #contactPersonMobile="ngModel" [(ngModel)]="addFleetLocation.contactPersonMobile" class="form-control"
                type="text" placeholder="Mobile Number" (keypress)="utils.inputFieldCheck.isPureNumeric($event)" required>
              <div *ngIf="(showError && addFleetLocation.contactPersonMobile === null) || (contactPersonMobile.invalid && (contactPersonMobile.dirty || contactPersonMobile.touched))">
                <small *ngIf="contactPersonMobile.errors?.required" class="chankya-block" class="text-danger">
                  Please enter Mobile Number
                </small>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="col-form-label" for="contactPersonPhone">
                Phone Number</label>
              <input name="contactPersonPhone" #contactPersonPhone="ngModel" [(ngModel)]="addFleetLocation.contactPersonPhone" class="form-control"
                type="text" placeholder="Phone Number" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="contactPersonAltContact">
                Alternate Contact Number</label>
              <input name="contactPersonAltContact" #contactPersonAltContact="ngModel" [(ngModel)]="addFleetLocation.contactPersonAltContact"
                class="form-control" type="text" placeholder="Alternate Contact Number" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">
            </div>


          </div>

          <div class="form-row">
              <div class="chk-block-title col-md-12" style="border: 0px;">
                <h3 class="text-capitalize" style="width: 100%;">Business Location</h3>
              </div>
            </div>

          <div class="form-row map-div">
            <!-- <label class="col-form-label">Business Location</label> -->
            <!-- <input [id]="returnInputBoxId()" name="address" class="controls pac-input" type="text" placeholder="Search Box"> -->

            <div [id]="returnMapId()" class="map-main"></div>
          </div>


          <div class="form-row" style="margin-top: 30px;">
            <ng-container *ngIf="areLocationDetailsPresent; else showSaveButton">
              <div class="form-group col-md-2">
                <button class="btn btn-primary btn-lg" (click)="updateLocation(fleetLocationForm)" type="submit">Save</button>
              </div>
              <div class="form-group col-md-3">
                <button class="btn btn-primary btn-lg" id="navbarD" (click)="removeLocation()" aria-haspopup="true" aria-expanded="false"
                  type="submit">Remove Location</button>
                <!-- <div style="margin-left: 25px;">
                  <div class="dropdown-menu rounded-0 dropdown-menu-right dropdown-menu-sm p-0" aria-labelledby="navbarD">
                    <a class="dropdown-item padding-a" (click)="removeLocation()">
                      <span>Are you sure?</span>
                    </a>
                  </div>
                </div> -->
              </div>
              <div class="form-group col-md-2">
                <button class="btn btn-primary btn-lg" (click)="cancelButton()" type="submit">Cancel</button>
              </div>
            </ng-container>
            <ng-template #showSaveButton>
              <div class="form-group col-md-6">
                <button class="btn btn-primary btn-lg " (click)="saveFleetLocation()" type="submit">Save</button>
              </div>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
