<div class="contact-widget py-5">
	<div class="container">
		<div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 mb-3 text-center">
				<div class="contact-icon mb-4">
					<i class="fa fa-phone text-warning fa-3x"></i>
				</div>
				<h2 class="text-warning mb-3"> Contact (Australia) </h2>
				<div *ngFor="let phone of contact?.phone_aus">
					<h2 *ngIf="phone?.status == 1">
						<a class="text-dark" href="tel:{{phone?.value}}">{{phone?.value}}</a>
					</h2>
				</div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 mb-3 text-center">
				<div class="contact-icon mb-4">
					<i class="fa fa-phone text-warning fa-3x"></i>
				</div>
				<h2 class="text-warning mb-3"> Contact (India) </h2>
				<div *ngFor="let phone of contact?.phone_ind">
					<h2 *ngIf="phone?.status == 1">
						<a class="text-dark" href="tel:{{phone?.value}}">{{phone?.value}}</a>
					</h2>
				</div>
      </div>
			<div class="col-sm-12 col-md-12 col-lg-4 mb-3 text-center">
				<div class="contact-icon mb-4">
				<i class="fa fa-envelope-o text-warning fa-3x"></i>
				</div>
				<h2 class="text-warning mb-3"> Send Us Mail </h2>
				<div *ngFor="let email of contact?.email">
					<h2 *ngIf="email?.status == 0">
						<a class="text-dark" href="mailto:{{email?.value}}">{{email?.value}}</a>
					</h2>
				</div>
			</div>
	   </div>
	</div>
</div>
<div class="contact-info py-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-7">
				<div class="google-maps mb-3">
					<div class="mapouter">
					   <div class="gmap_canvas">
					      <iframe class="border-rad" width="650" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=Level%201%2F3%20Wellington%20St%20St%20Kilda%20VIC%203182&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
					      </iframe><!-- embed google map by <a href="http://www.embedgooglemap.net">embedgooglemap.net</a> -->
					   </div>
					   <style>.mapouter{overflow:hidden;height:600px;width:650px;}.gmap_canvas {background:none!important;height:600px;width:650px;}</style>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-5">
				<div chankya-sendMessage></div>
			 </div>
		 </div>
	</div>
</div>
<div class="follow-us text-center py-5">
	<div class="container">
		<div class="mb-5">
			<h2> Follow Us</h2>
		</div>
		<div class="social-icon-widget">
			<ul class="list-inline mb-0">
				<li class="list-inline-item mx-2"><a href="https://www.facebook.com/oodak1" class="square-60 rounded-circle bg-facebook"><i class="fa fa-facebook fa-inverse"></i></a></li>
				<li class="list-inline-item mx-2"><a href="https://www.youtube.com/channel/UCALPHW7_AM_V2tcom7E5EfA" class="square-60 rounded-circle bg-google"><i class="fa fa-youtube fa-inverse"></i></a></li>
				<li class="list-inline-item mx-2"><a href="https://www.linkedin.com/company/oodaksecurity/" class="square-60 rounded-circle bg-linked"><i class="fa fa-linkedin fa-inverse"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<!--<div class="contact-info py-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6">
        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-12 mb-5 text-center">
            <h2 class="text-warning mb-3"> Contact Us </h2>
            <div *ngFor="let email of contact?.email">
              <h2 *ngIf="email?.status == 0">
                <a class="text-dark" href="mailto:{{email?.value}}">{{email?.value}}</a>
              </h2>
            </div>
            <div>
              <h2><a class="text-dark" href="1800940547">1800 940 547 (Australia)</a></h2>
              <h2><a class="text-dark" href="+918810496224">+91-8810496224 (India)</a></h2>
            </div>
          </div>

          <div class="follow-us col-sm-12 col-md-12 col-lg-12 text-center">
              <div class="mb-5">
                <h2 class="text-warning mb-3"> Follow Us</h2>
              </div>
              <div class="social-icon-widget">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mx-2"><a href="https://www.facebook.com/Fuelic-192504154989231" target="_blank" class="square-60 rounded-circle bg-facebook"><i class="fa fa-facebook fa-inverse"></i></a></li>
                  <li class="list-inline-item mx-2"><a href="https://www.linkedin.com/company/oodaksecurity/" target="_blank" class="square-60 rounded-circle bg-linked"><i class="fa fa-linkedin fa-inverse"></i></a></li>
                  <li class="list-inline-item mx-2"><a href="https://www.youtube.com/channel/UCALPHW7_AM_V2tcom7E5EfA" target="_blank" class="square-60 rounded-circle bg-google"><i class="fa fa-youtube fa-inverse"></i></a></li>

                </ul>
              </div>
          </div>
        </div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div chankya-sendMessage></div>
			 </div>
		 </div>
	</div>
</div>
_-->
