<!-- page not found layout -->
<div class="session py-6">
	<div class="container text-center">
		<div class="my-5">
			<img src="assets/img/404.png" alt="page not found" class="img-fluid" width="500" height="343" />
		</div>
		<div class="row mb-3">
			<div class="col-sm-12 col-md-6 mx-auto">
				<p class="text-center font-2x mb-4">We can’t seem to find the page you’re looking for.</p>
				<a href="javascript:void(0);" class="btn btn-primary btn-block submit-btn btn-lg">Buy Chankya Theme</a>
			</div>
		</div>
	</div><!-- container closed -->
</div><!-- session Wrapper closed -->
