  <div class="our-mission py-5">
    <div class="container">
      <div class="blog-alternate mb-4">
        <div class="row mb-5">
          <div class="col-sm-12 col-md-12">
            <p>TheAvancer Consultancy Services Pty Ltd. (&ldquo;we&rdquo;, &ldquo;us&rdquo;, or &ldquo;our&rdquo;) has created this privacy policy (&ldquo;Policy&rdquo;) to inform you (&ldquo;you&rdquo; or &ldquo;your&rdquo;) of when and how information is collected, used, disclosed and protected when you use our services (&ldquo;Service&rdquo;). By using the Service, accessing our websites, or accessing our apps, you consent to the privacy practices described in this Policy. You acknowledge that this Policy is to be read in conjunction with our Terms of Service available at <a routerLink="/terms-conditions">http://www.oodak.com/terms&amp;conditions</a> and that by accessing and using our websites, our apps, or Service, you agree to be bound by the Terms of Service as well as this Policy.</p>

            <p>We reserve the right to update and change this Policy from time to time and will provide notice to you by changing the &ldquo;last updated&rdquo; date above. All changes are prospective only. It is your obligation to be familiar with the most current version of the Policy. Continued use of the Service after any such changes shall constitute your acknowledgment of and consent to such changes. You can review the most current version of the Policy at any time at <a routerLink="/privacy-policy">http://www.oodak.com/privacypolicy</a>.</p>

            <p>If you are using the Service on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to this Policy, in such event, &ldquo;You&rdquo; will refer and apply to that company or other legal entity.</p>

            <h3>INFORMATION GATHERING</h3>

            <p>We collect, use and disclose two types of information: Personal Information and Non-Personal Information.</p>

            <ol>
              <li>
                <p>&ldquo;Personal Information&rdquo; is information that is directly associated with a specific person or entity, including but not limited to, names, email addresses, usernames, passwords, and payment information.</p>
              </li>
              <li>
                <p>&ldquo;Non-Personal Information&rdquo; is information we collect or compile that by itself cannot be directly associated with a specific person or entity.</p>
              </li>
              <li>
                <p>We may further compile &ldquo;Non-Personal Information&rdquo; into &ldquo;Aggregate Data&rdquo;. This Policy in no way restricts or limits our collection and use of Non-Personal Information and Aggregate Data, and we may share Non-Personal Information and Aggregate Data that we collect or compile with third parties for various purposes, including to help us better understand our customer needs and improve our Service, and for advertising and marketing purposes. You may not opt out of the sharing of this information.</p>
              </li>
              <li>
                <p>We automatically receive certain types of information when you interact with our Service. That information includes your computer&rsquo;s IP address, access times, your browser type and language, and referring website addresses. We may also collect information about the type of operating system you use, your account activity, and files or pages accessed or used by you.</p>
              </li>
              <li>
                <p>Like many websites, we use &ldquo;cookies&rdquo; to collect information. A cookie is a small data file that we transfer to your computer&rsquo;s hard drive for record-keeping purposes. Most web browsers automatically accept cookies as the default setting. For example, we use cookies to enable you to use the Service without re-entering your username and password if you select to use the &ldquo;Remember Me&rdquo; functionality. A &ldquo;web beacon&rdquo; is an electronic image that is embedded in a web page. We use &ldquo;web beacons&rdquo; to count visits and compile statistics on usage or in our emails to tell if an email has been opened or acted upon.</p>
              </li>
            </ol>

            <h3>USE OF PERSONAL INFORMATION</h3>

            <p>We use collected information about you to process your requests or billing transactions, to provide you with information or services you request, to inform you about other information, events, promotions, products, or services we think will be of interest to you, and to support and facilitate your usage of the Service.</p>

            <h3>INFORMATION SHARING AND DISCLOSURE</h3>

            <p>We will not give, sell, rent, share, or trade any of your Personal Information or any data that you store using our Service to any third party except i) with your explicit consent or ii) as outlined in this Policy. We reserve the right to share Non-Personal Information and Aggregate Data as described in this Policy.</p>

            <p>We may share Personal Information with third party service and technology providers to facilitate the operation of the Service, to perform related services (e.g., without limitation, maintenance services, database management, web analytics and improvement of the Service&rsquo;s features, or to process credit card payments), or to assist us in analyzing how our Service is used.</p>

            <p>We may disclose Personal Information to a third party to comply with a court order, subpoena, search warrant, or other legal processes; to comply with legal, regulatory, or administrative requirements of any governmental authorities; to protect and defend us, our subsidiaries and our affiliates, and our officers, directors, employees, attorneys, agents, contractors, and partners, in connection with any legal action, claim, or dispute; to enforce the Terms of Service; to prevent imminent physical harm; and in the event that we find that your actions violate any laws, our Terms of Service, or any of our usage guidelines for specific products or services..</p>

            <p>We may share Personal Information in connection with an acquisition, merger, consolidation or sale of all or a portion of our business, with or to another company. In any such event, you will receive notice if your data is transferred and becomes subject to a substantially different privacy policy.</p>

            <h3>MODIFYING YOUR PERSONAL INFORMATION</h3>

            <p>If you are a registered user of our Service, you may review, update, correct or delete your personal information by logging into the Service and editing your profile.</p>

            <h3>SECURITY</h3>

            <p>We are very concerned with safeguarding your information. We take reasonable steps to protect the information we collect from you to prevent loss, misuse and unauthorized access, disclosure, alteration, and destruction. Highly confidential personal information such as credit card data is protected with encryption using Secured Socket Layer (SSL) technology during transmission over the Internet. But, remember that no method of transmission over the Internet or method of electronic storage is 100% secure.</p>

            <p>Your account information and access to our Service is accessible only through the use of an individual username and password. You should keep your password confidential and do not disclose it to any other person. Please note that we will never ask you to disclose your password in an unsolicited phone call or email. You are responsible for all activities which are conducted using your account or password.</p>

            <h3>QUESTIONS</h3>

            <p>If you have any questions about this Privacy Policy, Terms of Service available atplease contact us at <a routerLink="/contact">https://www.oodak.com/contact</a>.</p>
            <h3>THANKS TO ICON DEVELOPERS</h3>
          <div>Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

