<!-- Video section -->
<div class="about-video py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 mx-auto">
        <div class="card border-0 shadow-md text-white border-rad">
          <img class="card-img img-fluid border-rad" src="assets/img/doa.jpg" alt="Card image" width="319" height="300">
          <div class="card-img-overlay black-tp-layer pos-center text-center border-rad">
            <div class="center-holder">
              <a data-fancybox href="https://youtu.be/OFvPd7RBHG4" class="play-button">
                <i>
                  <span class="btn-text"><span>Play</span></span>
                  <span class="btn-icon"><i class="fa fa-play"></i></span>
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Goles and mission  -->
<div class="our-mission bg-light py-5">
  <div class="container">
    <div class="blog-alternate mb-4" *ngFor="let content of about">

      <div class="section-title-wrapper mb-3">
        <div class="row">
          <div class="col-sm-12 col-md-10 mx-auto text-center">
            <a href="https://driveoffalert.com/"><h2> {{content?.heading}}</h2></a>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="overlay-wrap">
            <img [src]="content?.image_path" width="370" height="300" class="img-fluid w-100 border-rad shadow-md" />
            <div class="card-img-overlay primary-tp-layer pos-center text-center">
              <div class="center-holder">
                <a href="https://driveoffalert.com/" class="ih-fade-right"><i class="fa fa-arrow-right fa-3x fa-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="about-content px-4">
            <p>{{content?.heading2}}</p>
            <p>
              {{content?.content}}
            </p>
            <ul class="row">
              <li *ngFor="let highlight of content?.highlights" class="col-sm-12 col-md-6">{{highlight}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service grid -->
<div class="service py-5">
  <div class="container">
    <div class="row" *ngIf="highlights">
      <div class="col-sm-12 col-md-3 col-xl-3 mb-5" *ngFor="let content of highlights">
        <div class="info-card text-center">
          <div class="icon-wrap mb-3 {{content?.icon?.color}}">
            <i class="{{content?.icon?.name}} font-4x"></i>
          </div>
          <h2 class="mb-4 info-title">{{content?.title}}</h2>
          <p class="mb-3 text-justify">{{content?.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
