<!-- Testimonial Slider -->
<div id="testimonial-slide" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner">
      <div class="row">
         <div class="col-sm-12 col-md-7 mx-auto">
            <div class="carousel-item active text-center">
               <h2 class="mb-5 text-white">“ Efficient Solution & Exceptional support …</h2>
               <div class="testimonial-user mb-4">
                  <img src="assets/img/united.png" class="img-fluid rounded-circle shadow-md" alt="testimonial user" width="100" height="100">
               </div>
               <div class="mb-4">
                  <h2 class="text-white">Kiran</h2>
                  <h4 class="text-white">Manager, United</h4>
               </div>
               <p class="text-white text-center">Got an ALPR system installed at one of our service stations and I can confidently say this system does it's job. Very efficient and economical solution compared to similar products available on the market. After sales service and support is exceptional and one level above my expectation. Support team is ready to listen and come up with a solution each and every time in a timely manner. Strongly recommend these guys.</p>
            </div>
            <div class="carousel-item text-center" *ngFor="let content of testimonialContent">
               <h2 class="mb-5 text-white">{{content?.title}}</h2>
               <div class="testimonial-user mb-4">
                  <img [src]="content?.avatar" class="img-fluid rounded-circle shadow-md" alt="testimonial user" width="100" height="100">
               </div>
               <div class="mb-4">
                  <h2 class="text-white">{{content?.name}}</h2>
                  <h4 class="text-white">{{content?.type}}</h4>
               </div>
               <p class="text-white text-center"> {{content?.content}}</p>
            </div>
         </div>
      </div>
   </div>
   <a class="carousel-control-prev" href="#testimonial-slide" role="button" data-slide="prev">
   	<span class="carousel-control-prev" aria-hidden="true">
         <i class="ion-ios-arrow-dropleft-circle font-2x"></i>
      </span>
   	<span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#testimonial-slide" role="button" data-slide="next">
   	<span class="carousel-control-next" aria-hidden="true">
         <i class="ion-ios-arrow-dropright-circle font-2x"></i>  
      </span>
   	<span class="sr-only">Next</span>
   </a>
</div>
<!-- Testimonial Slider Closed -->

