<!-- Portfolio Section -->
<div class="portfolio-wrapper py-5">
   <div class="container">
      <div class="blog-alternate mb-4" *ngFor="let portfolio of portfolioV3">
         <div class="row">
            <div class="col-sm-12 col-md-6">
               <div class="overlay-wrap mb-3">
                  <img [src] ="portfolio?.image_path" width="500" height="500" class="img-fluid border-rad w-100" alt="gallery images" />
                  <a href="{{portfolio?.image_path}}" data-fancybox="images" class="card-img-overlay primary-tp-layer pos-center text-center">
                     <span class="center-holder">
                        <a class="ih-fade-down square-60 rounded-circle bg-white shadow-md">
                           <i class="fa fa-plus align-middle"></i>
                        </a>
                     </span>
                  </a>
               </div>
            </div>
            <div class="col-sm-12 col-md-6">
               <div class="portfolio-content py-4">
                  <h5 class="badge {{portfolio?.title_color}} p-2 btn-pill"> {{portfolio?.title}} </h5>
                  <h2 class="sidebar-title title"><a href="javascript:void(0);">{{portfolio?.heading}}</a></h2>
                  <p class="mb-3">{{portfolio?.content}}</p>
                  <a href="{{portfolio?.read_more_url}}" class="btn btn-outline-secondary btn-sm btn-chk-dark"> READ MORE </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
