<div class="page-main-container">
  <!-- Visitor & Parking Management Solutions -->
  <div class="service py-5">
      <div class="container">
         <div class="section-title-wrapper mb-5">
           <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2 id="visitor_management" >Visitor and Parking Management Solutions</h2>
                  <p>Powerful Solutions for Visitor Management, Parking Management & Access Control </p>
               </div>
           </div>
         </div>
         <div class="row" chankya-serviceGrid [serviceGridContent]="services"></div>
      </div>
   </div>
     <!-- Community Safety Program -->
   <div class="chk-video-section py-5 bg-light">
      <div class="container">
        <div class="row" chankya-chkVideo [videoContent]="videoContent">
        </div>
        <a class="text-uppercase btn btn-outline-warning btn-sm" href="https://www.facebook.com/communityagainstcrimes/">
         CONNECT TO CAC
       </a>
      </div>
   </div>
  <!-- Surveillance Solutions -->
   <div class="mob-feature">
      <div class="black-layer-8 py-5">
         <div class="container">
            <div class="section-title-wrapper mb-5">
              <div class="row">
                  <div class="col-sm-12 col-md-10 mx-auto text-center text-white">
                     <h2 class="text-white"> Advance Security & Surveillance Solutions </h2>
                     <p>Commercial & Residential CCTV Surveillance Solutions with Face Detection, License Plate Recognition, Vandalism Protection, Security Alarms etc.</p>
                  </div>
              </div>
            </div>
            <div class="row" chankya-mobileFeatured [mobileFeatured]="mobileFeatured"></div>
         </div>
      </div>
   </div>
   <!-- Fuel Station Solutions -->
   <div class="post-section bg-light py-5">
      <div class="container">
         <div class="section-title-wrapper mb-5">
            <div class="row">
                <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2> Innovation for Fuel Stations </h2>
                </div>
            </div>
         </div>
         <div class="card-deck">
            <div class="row" fs-innovation [postGridContent]="posts"></div>
         </div>
      </div>
   </div>
  <!-- Technical Expertise -->
   <div class="team py-5">
      <div class="container">
         <div class="section-title-wrapper mb-5">
            <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2> Our Technical Expertise </h2>
                  <p>Our highly skilled team members have developed some of the best solutions for Security & Access Controls.</p>
               </div>
            </div>
         </div>
         <div class="row" tech-expertise [teamGridContent]="team" ></div>
      </div>
   </div>
      <!-- Testimonial -->
   <div class="testimonial-section">
      <div class="black-tp-layer">
         <div class="container">
            <div chankya-testimonial [testimonialContent]="testimonial"></div>
         </div>
      </div>
   </div>
</div>

