<div class="row add-user">
  <div class="col-sm-12 col-md-10 mx-auto">
    <div class="chk-block">
      <div class="chk-block-content">
        <form #addVehicleForm="ngForm" (keypress.enter)="addVehicle(addVehicleForm)">

          <div class="form-row">
            <div class="form-group col-md-6">
              <span class="red">*&nbsp;</span>
              <label class="col-form-label" for="vehicleType">Type</label>
              <select class="form-control" (change)="checkBlankField('type')" (blur)="checkBlankField('type')" name="vehicleType" #vehicleType="ngModel" [(ngModel)]="addVehicleCommand.type">
                <option *ngFor="let vehicle of vehicleTypeArray" [value]="vehicle">{{vehicle}}</option>
              </select>
              <div *ngIf="(showError && typeError)">
                <small class="chankya-block" class="text-danger">
                  Please select Type
                </small>
              </div>
            </div>
            <div class="form-group col-md-6">
              <span class="red">*&nbsp;</span>
              <label class="col-form-label" for="brand">Brand / Make</label>
              <!-- <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <button type="button" class="btn btn-secondary dropdown-custom-button col-md-12">{{addVehicleCommand.brand}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  (click)="checkBlankField('brand')">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-list col-md-12">
                  <div class="dropdown-custom-list">
                    <li class="dropdown-item" *ngFor="let brands of vehicleBrandArray" (click)="setVehicleBrand(brands)">
                      <a href="javascript:;">{{brands}}</a>
                    </li>
                  </div>
                </ul>
              </div> -->
              <select class="form-control" (change)="checkBlankField('brand'); getModal()" (blur)="checkBlankField('brand')" name="brand" #brand="ngModel" [(ngModel)]="addVehicleCommand.brand">
                <option *ngFor="let brands of vehicleBrandArray" [value]="brands">{{brands}}</option>
              </select>
              <div *ngIf="(showError && brandError)">
                <small class="chankya-block" class="text-danger">
                  Please select Brand
                </small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="model">
                <span class="red">*&nbsp;</span>Model</label>
              <!-- <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <button type="button" class="btn btn-secondary dropdown-custom-button col-md-12">{{addVehicleCommand.model}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  (click)="checkBlankField('model')">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-list-type col-md-12">
                  <div class="dropdown-custom-list">
                    <li class="dropdown-item" *ngFor="let models of modalArray" (click)="setVehicleModel(models)">
                      <a href="javascript:;">{{models}}</a>
                    </li>
                  </div>
                </ul>
              </div> -->
              <select class="form-control" (change)="checkBlankField('model')" (blur)="checkBlankField('model')" name="model" #model="ngModel" [(ngModel)]="addVehicleCommand.model">
                <option *ngFor="let models of modalArray" [value]="models">{{models}}</option>
              </select>
              <div *ngIf="(showError && modelError)">
                <small class="chankya-block" class="text-danger">
                  Please select Model
                </small>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="year">Year</label>
              <select class="form-control" name="year" #year="ngModel" [(ngModel)]="addVehicleCommand.year">
                <option *ngFor="let years of yearArray" [value]="years">{{years}}</option>
              </select>
              <!-- <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <button type="button" class="btn btn-secondary dropdown-custom-button col-md-12">{{addVehicleCommand.year}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-list col-md-12">
                  <div class="dropdown-custom-list">
                    <li class="dropdown-item" *ngFor="let years of yearArray" (click)="setVehicleYear(years)">
                      <a href="javascript:;">{{years}}</a>
                    </li>
                  </div>
                </ul>
              </div> -->
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="colour">Colour</label>
              <input name="colour" #colour="ngModel" [(ngModel)]="addVehicleCommand.colour" class="form-control" type="text" placeholder="Colour"
                (keypress)="removeError()">
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="odometer">Odometer</label>
              <input name="odometer" class="form-control" type="text" (keypress)="utils.inputFieldCheck.isPureNumeric($event)" [(ngModel)]="addVehicleCommand.initialOdometerRead"
                placeholder="Odometer" (keypress)="removeError()">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="fuelType">Fuel Type</label>
              <select class="form-control" name="fuelType" #fuelType="ngModel" [(ngModel)]="addVehicleCommand.fuelType">
                <option *ngFor="let fuel of fuelTypeArray" [value]="fuel">{{fuel}}</option>
              </select>
              <!-- <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <button type="button" class="btn btn-secondary dropdown-custom-button col-md-12">{{addVehicleCommand.fuelType}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-list-type col-md-12">
                  <div class="dropdown-custom-list">
                    <li class="dropdown-item" *ngFor="let fuel of fuelTypeArray" (click)="setFuelType(fuel)">
                      <a href="javascript:;">{{fuel}}</a>
                    </li>
                  </div>
                </ul>
              </div> -->
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="registrationNumber">
                <span class="red">*&nbsp;</span>Registration Number</label>
              <input name="registrationNumber" #registrationNumber="ngModel" [(ngModel)]="addVehicleCommand.registrationNumber" class="form-control"
                type="text" placeholder="Registration Number" (blur)="checkBlankField('registrationNo')" (keypress)="removeError()"
                required>
              <div *ngIf="(showError && registrationNoError)">
                <small class="chankya-block" class="text-danger">
                  Please enter Registration Number
                </small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="distanceUnit">Distance Unit</label>
              <!-- <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <button type="button" class="btn btn-secondary dropdown-custom-button col-md-12">{{addVehicleCommand.distanceUnit}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-list-type col-md-12">
                  <div class="dropdown-custom-list">
                    <li class="dropdown-item" *ngFor="let distance of distanceUnitArray" (click)="setDistanceUnit(distance)">
                      <a href="javascript:;">{{distance}}</a>
                    </li>
                  </div>
                </ul>
              </div> -->
              <select class="form-control" name="distanceUnit" #distanceUnit="ngModel" [(ngModel)]="addVehicleCommand.distanceUnit">
                <option *ngFor="let distance of distanceUnitArray" [value]="distance">{{distance}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="fuelUnit">Fuel Unit</label>
              <select class="form-control" name="fuelUnit" #fuelUnit="ngModel" [(ngModel)]="addVehicleCommand.fuelUnit">
                <option *ngFor="let fuel of fuelUnitArray" [value]="fuel">{{fuel}}</option>
              </select>
              <!-- <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <button type="button" class="btn btn-secondary dropdown-custom-button col-md-12">{{addVehicleCommand.fuelUnit}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-list col-md-12">
                  <div class="dropdown-custom-list">
                    <li class="dropdown-item" *ngFor="let fuel of fuelUnitArray" (click)="setFuelUnit(fuel)">
                      <a href="javascript:;">{{fuel}}</a>
                    </li>
                  </div>
                </ul>
              </div> -->
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="status">
                <span class="red">*&nbsp;</span>Status</label>
              <!-- <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <button type="button" class="btn btn-secondary dropdown-custom-button col-md-12">{{addVehicleCommand.vehicleStatus}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-list-type col-md-12">
                  <div class="dropdown-custom-list">
                    <li class="dropdown-item" *ngFor="let status of statusArray" (click)="setStatus(status)">
                      <a href="javascript:;">{{status}}</a>
                    </li>
                  </div>
                </ul>
              </div> -->
              <select class="form-control" name="status" #status="ngModel" [(ngModel)]="addVehicleCommand.vehicleStatus">
                <option *ngFor="let status of statusArray" [value]="status">{{status}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">

            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <button class="btn btn-primary btn-lg" (click)="addVehicle(addVehicleForm)" type="submit">Add Vehicle</button>
            </div>
          </div>
          <div class="form-row">
            <div *ngIf="responseSuccess === true" style="text-align: center;" class="col-sm-12 alert bg-success alert-dismissible fade show"
              role="alert">
              <strong></strong> {{responseMessage}}
            </div>
            <div *ngIf="responseFail === true" style="text-align: center;" class="col-sm-12 alert bg-danger alert-dismissible fade show"
              role="alert">
              <strong></strong> {{responseMessage}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
