//.ng-sidebar--inert[_ngcontent-c1] {
//  pointer-events: none;
//  touch-action: none;
//  will-change: transform;
//}
//.ng-sidebar--left[_ngcontent-c1] {
//  bottom: 0;
//  left: 0;
//  top: 0;
//}
//.ng-sidebar[_ngcontent-c1] {
//  overflow: auto;
//  pointer-events: auto;
//  position: absolute;
//  touch-action: auto;
//  will-change: initial;
//  z-index: 99999999;
//}
//.demo-sidebar {
//  background-color: #fff;
//  padding: 2em 1em;
//}
//.ng-sidebar__content[_ngcontent-c0] {
//  bottom: 0;
//  left: 0;
//  overflow: auto;
//  position: absolute;
//  right: 0;
//  top: 0;
//}
//.ng-sidebar__content--animate[_ngcontent-c0] {
//  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1) 0s, padding 0.3s cubic-bezier(0, 0, 0.3, 1) 0s;
//}
//.demo-header {
//  align-items: center;
//  background: #0273d4 none repeat scroll 0 0;
//  box-shadow: 0 0.1em 1.5em rgba(84, 85, 85, 0.5);
//  color: #fff;
//  display: flex;
//  padding: 1em;
//}
//.demo-contents {
//  padding: 0 2em;
//}
//.demo-header__toggle::after {
//  background: #fff none repeat scroll 0 0;
//  content: "";
//  height: 0.15rem;
//  left: 0;
//  margin-top: -0.075rem;
//  position: absolute;
//  top: 50%;
//  width: 100%;
//}
//.demo-header__toggle {
//  -moz-border-bottom-colors: none;
//  -moz-border-left-colors: none;
//  -moz-border-right-colors: none;
//  -moz-border-top-colors: none;
//  background: transparent none repeat scroll 0 0;
//  border-color: #fff currentcolor;
//  border-image: none;
//  border-style: solid none;
//  border-width: 0.15rem 0;
//  cursor: pointer;
//  font-size: 0;
//  height: 1.5rem;
//  margin-right: 1rem;
//  position: relative;
//  width: 2rem;
//}

.name-badge{
  width: 45px;
  height:45px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  i{
    line-height: 45px;
  }
}

.no-pointer-event {
  pointer-events: none;
}
