<!-- Testimonial wrapper -->
<div class="testimonial-wrapper py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6" *ngFor="let user of testimonialV1;  let i=index">
                <div *ngIf="i<6">
                    <div class="card border-0 mb-4 card-shadow">
                        <div class="card-body p-4">
                            <img [src]="user?.avatar" class="rounded-circle shadow-md mb-3" width="80" height="80" alt="testimonial user thumb" />
                            <div class="mb-3">
                                <h2 class="mb-2 title"><a href="javascript:void(0);">{{user?.heading}}</a></h2>
                                <h5>{{user?.user_name}}</h5>
                            </div>
                            <p>{{user?.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

