<div class="modal-header">
  <h4 class="modal-title">Select Vehicle</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="max-height: 480px;overflow: auto;">
  <div *ngFor="let vehicle of rosterAvailableVehicle" class="chk-block">
    <div class="chk-block-content" style="padding: 10px 0px;">
      <div class="col-md-12" style="display: inline-flex;padding: 0px;">
        <div class="col-md-2">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" style="margin-top: 7px;">
            <input class="custom-control-input" type="checkbox" [checked]="checkSelectedveicle(vehicle)" (click)="selectVehicle(vehicle, $event.target.checked)">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-md-10" style="margin-top: 7px;">
          <span>{{vehicle.registrationNumber}} ({{vehicle.brand}} {{vehicle.model}}) </span>
        </div>
      </div>
    </div>
  </div>
</div>