<!-- <div class="progress">
	<div class="progress-bar progress-gradient-success gradient-animate" role="progressbar" aria-valuenow="75" aria-valuemin="0"
	 aria-valuemax="100" style="width: 65%;">
	</div>
</div>
<div class="progress">
	<div class="progress-bar progress-gradient-danger gradient-animate" role="progressbar" aria-valuenow="75" aria-valuemin="0"
	 aria-valuemax="100" style="width: 75%;">
	</div>
</div> -->
<div *ngIf="isProgressBarVisible === true" class="progress" style="margin-bottom:0px;height: 7px;">
	<div class="progress-bar progress-gradient-green gradient-animate" role="progressbar" aria-valuenow="75" aria-valuemin="0"
	 aria-valuemax="100" style="width: 100%;">
	</div>
</div>