/*========== Blog css =========*/
.sidebar-title {
	font-size: 24px;
	line-height: 1.4;
}
.categories-list {
	ul {
		li {
			a {
				color: $gray-700;
				display: block;
				transform: translateX(0px);
				transition: all 0.4s ease-in-out 0s;
				&:hover {
					color: $blue;
					transform: translateX(10px);
				}
			}
		}
	}
}
.categories-tag {
	a {
		font-size: 14px;
		margin: 0 3px;
		color: $gray-600;
		&:hover {
			color: $blue;
		}
	}
}
.popular-post {
	.media-body {
		p {
			a {
				color: $gray-700;
				&:hover {
					color: $blue;
				}
			}
		}
	}
}
.card-img {
	@extend .border-rad;
}
.blog-masonry-wrapper {
	.card-title {
	  font-size: 26px;
	  line-height: 1.3;
	}
	.card:hover .black-tp-layer {
		@include background-opacity($blue, 0.7);
	}
}
.blog-alternate:nth-child(2n) > div:first-child > div:first-child {
	order: 2;
}
.blog-detail .media {
  margin-top: 20px;
}
.card-footer, .blog-meta {
	a {
		&:hover {
			color: $blue !important;
		}
	}
}
/*======== Blog Responsive =======*/
@media (max-width: 575px) {
	.col-xs-4 {
		-moz-box-flex: 0;
		flex: 25%;
		max-width: 25%;
	}
	.section-heading {
		h2 {
			font-size: 2rem;
		}
	}
}
@media (max-width: 767px) {
	.blog-alternate:nth-child(2n) > div:first-child > div:first-child {
		order: 0;
	}
}
