<!-- Blog Detail wrapper -->
<div class="blog-detail py-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 mb-3">
				<div class="thumb-block mb-3">
            <img [src]="blogDetail?.image_path" alt="blog thumb" class="img-fluid border-rad" width="1100" height="740" />
        </div>
        <div class="blog-meta mb-3">
            <a href="javascript:void(0);" class="mr-3 text-muted">
               <i class="fa fa-user-circle-o mr-2 font-lg"></i>
               <span class="font-sm">{{blogDetail?.user_name}}</span>
            </a>
            <a href="javascript:void(0);" class="text-muted">
               <i class="fa fa-calendar-o mr-2 font-lg"></i>
               <span class="font-sm">{{blogDetail?.date*1000 | date }}</span>
            </a>
         </div>
        <div class="thumb-content mb-5" *ngFor="let detail of blogDetail?.detail">
            <p class="mb-3">{{detail?.p}}</p>
            <div class="col-md-12" *ngFor="let highlight of detail?.highlights">
              <h3>{{highlight.heading}}</h3>
              <ul>
                <li *ngFor="let point of highlight?.content">{{point}}</li>
              </ul>
            </div>
        </div>
			</div>
		</div>
	</div>
</div>
