<form (ngSubmit)="processForm()" name="formdata">
  <div class="form-group">
    <input type="text" name="name"  required tabindex="1" class="form-control" placeholder="Name" [(ngModel)]="uName">
  </div>
  <div class="form-group">
    <input type="email" name="email" required id="email" tabindex="1" class="form-control" placeholder="Email" [(ngModel)]="uEmail">
  </div>
  <div class="form-group">
    <input type="tel" name="contact" required id="contact" tabindex="2" class="form-control" placeholder="Number" [(ngModel)]="uContact">
  </div>
  <div class="form-group">
    <textarea rows="2" class="form-control" name="comments" placeholder="Comments" [(ngModel)]="uComment"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="form-control btn btn-secondary is-loading">Send Message <span class="btn-spinner ng-scope" *ngIf="showSpinner"></span></button>
  </div>
</form>
