<div class="pricing-wrapper">
   <!-- Plans and Pricing section -->
   <div class="pricing-section-1 py-5 bg-light">
      <div class="container">
         <div class="row">
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="card border-0 border-rad card-shadow bg-info mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">6MP IP CCTV System</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$28.16 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           4 Pcs 6 MP IP Network Cameras (Dahua)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           8 Channel NVR (Dahua Recorder)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           2 TB Hard Drive
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Warranty on Camera & NVR
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Remote Access via Smartphone/PC/Tablet
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Motion Detection & Notification
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           IR Night Vision and Colour day mode
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include Audio Microphone
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           UPS Backup (or Backup Power supply)
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                  </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $2,040 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="border-0 border-rad card-shadow mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">4MP IP CCTV System</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$26.62 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           4 Pcs 4 MP IP Network Cameras (Dahua)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           8 Channel NVR (Dahua Recorder)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           2 TB Hard Drive
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Warranty on Camera & NVR
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Remote Access via Smartphone/PC/Tablet
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Motion Detection & Notification
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           IR Night Vision and Colour day mode
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include Audio Microphone
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           UPS Backup (or Backup Power supply)
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $1,920 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="border-0 border-rad card-shadow mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">4MP HDCVI CCTV System</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$22.00 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           4 Pcs 4 MP High Definition (HDCVI) Dahua Cameras
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           8 Channel DVR (Dahua Recorder)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           2 TB Hard Drive
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Warranty on Camera & NVR
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Remote Access via Smartphone/PC/Tablet
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Motion Detection & Notification
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           IR Night Vision and Colour day mode
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include Audio Microphone
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-close mr-2"></i>
                           UPS Backup (or Backup Power supply)
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $1,560 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="card border-0 border-rad card-shadow bg-info mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">2MP HDCVI CCTV System</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$17.39 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           4 Pcs 2 MP High Definition (HDCVI) Dahua Cameras
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           8 Channel DVR (Dahua Recorder)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           1 TB Hard Drive
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Warranty on Camera & NVR
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Remote Access via Smartphone/PC/Tablet
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Motion Detection & Notification
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           IR Night Vision and Colour day mode
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include Audio Microphone
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-close mr-2"></i>
                           UPS Backup (or Backup Power supply)
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $1,200 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="card border-0 border-rad card-shadow bg-warning mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">3 Sensor Alarm System</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$13.47 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Bosch 2000 Alarm System (Support upto 8 sensors)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include 3 PIR (Sensors)
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Motion and Entry Detection
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include standard keypad
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Receive call alert via integrated telephone line (if exists)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Manufacturer Warranty
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                      </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $894 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="border-0 border-rad card-shadow mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">3 Sensor IP Alarm System</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$17.39 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Bosch 2000 Alarm System with IP Module
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include 3 PIR (Sensors)
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Motion and Entry Detection
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include standard keypad
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Mobile App to receive remote notifications
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Manufacturer Warranty
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                      </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $1,200 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="border-0 border-rad card-shadow mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">Bosch 6000 Ultimate Alarm</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$17.39 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Bosch 6000 Ultimate Alarm System (Support upto 128 Sensors)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include 3 PIR (Sensors)
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Motion and Entry Detection
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include standard keypad
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Receive call alert via integrated telephone line (if exists)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Manufacturer Warranty
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                      </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $1200 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="card border-0 border-rad card-shadow bg-warning mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">Touchscreen Alarm System</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$18.16 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Bosch 2000 Alarm System with Touch Screen (Support upto 8 sensors)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include 3 PIR (Sensors)
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Motion and Entry Detection
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Include Bosch 5" Touch Screen Keypad
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Receive call alert via integrated telephone line (if exists)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Manufacturer Warranty
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                      </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $1,260 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="card border-0 border-rad card-shadow bg-info mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">Haakili Intercom System</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$9.70 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           7 inch Colour TFT Touch Screen Monitor (Haakili)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Adjust Brightness and volume
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Hands free conversation
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           1 Year Manufacturer warranty
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                      </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $600 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="border-0 border-rad card-shadow mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">Dahua IP Intercom System</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$17.39 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                          IP Villa Outdoor Station with 7" TFT Capacitive touch screen
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Video & Audio messaging
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Adjust Camera View Angle
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Manufacturer warranty
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                      </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $1200 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="border-0 border-rad card-shadow mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">Standard New Home Package</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$39.71 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           2 MP HDCVI 4 Pcs Camera System (Dahua)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Bosch Standard Alarm System with 3 Sensors
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Haakili Video Intercom System
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Digital Antenna
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Warranty on Camera, NVR and Alarm System. 1 year on Intercom System.
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $2,940 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
             <div class="card border-0 border-rad card-shadow bg-info mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h3 class="m-0">Premium New Home Package</h3>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">$58.16 Fortnightly</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           6 MP HDCVI 4 Pcs Camera System with UPS (Dahua)
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Bosch Standard Alarm System with 3 Sensors
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Dahua IP Video Intercom System
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Digital Antenna
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Cabling and Installation by qualified installers
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           3 Years Warranty on Camera, NVR, Intercom and Alarm System
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           10 Years Warranty on Cabling
                        </li>
                       <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           36 Months and 0% interest Payment Plan *
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-credit-card mr-2"></i>
                           $4,380 Total Minimum Cost over 3 Years **
                        </li>
                     </ul>
                  </div>
               </div>
           </div>
           <div>
             <h6><p>* Interest free payment option is subjected to approval by Finance Partner <a href="https://brighte.com.au/">Brighte</a>. Full/Partial upfront payment or other repayment options available too.
               <br>Pricing (inc. GST) are the estimation for standard single storey, tiled roof house. Custom packages are also available.
               <br>Fortnight payment include account keeping fees charged by Brighte. Late payment fees also applies, refer <a href="https://brighte.com.au/homeowners/">Brighte Payment Plan</a> for more information.
               <br>** Total minimum cost exclude account keeping fees charged by Brighte. Refer <a href="https://brighte.com.au/homeowners/">Brighte Payment Plan</a> for more information.
             </p>
               </h6>
           </div>
         </div>
      </div>
   </div>
  <!--
   <div class="pricing-section-2">
      <div class="pricing-grid">
         <div class="container">
            <div class="section-title-wrapper mb-5">
               <div class="row">
                  <div class="col-sm-12 col-md-9 mx-auto text-center">
                     <h2 class="font-2x mb-3 text-white"> Plans and Pricing  </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12 col-md-12 col-lg-4 mb-3" *ngFor="let content of pricingContent">
                  <div class="pricing-card border-0 pt-5 px-4 pb-4 border-rad">
                     <span class="mb-4 {{content?.bg_color}} p-2 btn-pill text-center d-inline-block"> {{content?.home_title}} </span>
                     <h2 class="font-4x px-2 fw-200"><sup class="font-xs"> {{content?.currency}} </sup>
                        {{content?.price}} <sub class="font-sm"> </sub>
                     </h2>
                     <ul class="list-unstyled pricing-list mb-5">
                        <li class="mb-3" *ngFor="let pricingList of content?.pricing_list">
                           <i class="fa {{pricingList?.icon}} mr-2"></i>
                           {{ pricingList?.value }}
                        </li>
                     </ul>
                     <a href="javascript:void(0);" class="btn btn-outline-secondary btn-pill btn-lg submit-btn btn-block">Choose This Plan</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="pricing-section-3">
      <div class="black-tp-layer">
         <div class="container">
            <div class="card-deck">
               <div class="card border-0 border-rad card-shadow mb-3">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h2 class="m-0">Basic Plans</h2>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0">Free</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Sell product with access to 10 space
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Practice live with our sell Challenge Engine
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Get help in our members-only form
                        </li>
                     </ul>
                     <a href="javascript:void(0);" class="btn btn-outline-secondary btn-pill btn-block btn-lg submit-btn">Choose This Plan</a>
                  </div>
               </div>
               <div class="card border-0 border-rad card-shadow bg-info">
                  <div class="card-body p-4">
                     <div class="card-header border-0 mb-3">
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-content-start">
                              <h2 class="m-0 text-white">Basic Plans</h2>
                           </div>
                           <div class="d-flex align-content-end">
                              <h5 class="m-0 text-white">$48</h5>
                           </div>
                        </div>
                     </div>
                     <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Sell product with access to 10 space
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Practice live with our sell Challenge Engine
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Get help in our members-only form
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Sell product with access to 10 space
                        </li>
                        <li class="mb-3">
                           <i class="fa fa-check mr-2"></i>
                           Practice live with our sell Challenge Engine
                        </li>
                     </ul>
                     <a href="javascript:void(0);" class="btn btn-light btn-pill btn-block btn-lg submit-btn">Choose This Plan</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      -->
</div>

