.red {
    color: red;
}

.dropdown-custom-button {
    background-color: white;
    text-align: left;
    color: #414658;
    text-transform: none;
}

.dropdown-custom-button:after {
    color: white;
}

.dropdown-custom-button:hover {
    background-color: white;
}

.dropdown-list {
    left: -128px !important;
}

.dropdown-list-type {
    left: -390px !important;
}

.dropdown-list-col-md-6-left {
    left: -162px !important;
}

// .dropdown-list a,
// .dropdown-list-type a,
// .left-40 a,
// .dropdown-list-col-md-6-left a {
//     color: #414658;
// }

.dropdown-menu a {
    color: #414658;
}

.dropdown-custom-list {
    max-height: 200px;
    overflow-y: auto;
}

.left-40 {
    left: -40px !important;
}

.whiteBg {
    background-color: #ffffff !important;
}

.no-pointer-event {
    pointer-events: none;
}