<div class="input-group-wrapper">
  <div class="row">
    <div class="col-lg-12 col-xl-6">
      <div class="chk-block" style="z-index: 10;">
        <div class="chk-block-title">
          <h3 class="text-capitalize">Schedule</h3>
        </div>
        <div class="chk-block-content">
          <form >
            <div class="form-row form-group">
              <label class="col-form-label">
                Occurrence
              </label>
              <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <select class="form-control" (change)="checkBlankField('occurrence'); setOccourences(createRosterCommand.occurrence)" (blur)="checkBlankField('occurrence')"
                  name="occurrence" #occurrence="ngModel" [(ngModel)]="createRosterCommand.occurrence">
                  <option *ngFor="let occourences of occourencesArray" [value]="occourences">{{occourences}}</option>
                </select>
              </div>
              <div *ngIf="(showErrorDropdown && validateFields.occurrence)">
                <small class="chankya-block" class="text-danger">
                  Occurrence is required
                </small>
              </div>
            </div>
            <div *ngIf="isWeekdaysVisible" class="form-row form-group">
              <label class="col-form-label">
                Weekday(s)
              </label>

              <div class="col-md-12 row">
                <!-- <div> -->
                <div class="col-xs-1" style="margin-left:18px">
                  <div>
                    <label class="col-form-label">
                      Mon
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                      <input class="custom-control-input" (click)="daysClickHandler($event, 0)" [(ngModel)]="selectedDaysArray[0][1]" [ngModelOptions]="{standalone: true}"
                        type="checkbox">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-1">
                  <div>
                    <label class="col-form-label">
                      Tue
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                      <input class="custom-control-input" (click)="daysClickHandler($event, 1)" [(ngModel)]="selectedDaysArray[1][1]" [ngModelOptions]="{standalone: true}"
                        type="checkbox">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-1">
                  <div>
                    <label class="col-form-label">
                      Wed
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                      <input class="custom-control-input" (click)="daysClickHandler($event, 2)" [(ngModel)]="selectedDaysArray[2][1]" [ngModelOptions]="{standalone: true}"
                        type="checkbox">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-1">
                  <div>
                    <label class="col-form-label">
                      Thur
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                      <input class="custom-control-input" (click)="daysClickHandler($event, 3)" [(ngModel)]="selectedDaysArray[3][1]" [ngModelOptions]="{standalone: true}"
                        type="checkbox">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-1">
                  <div>
                    <label class="col-form-label">
                      Fri
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                      <input class="custom-control-input" (click)="daysClickHandler($event, 4)" [(ngModel)]="selectedDaysArray[4][1]" [ngModelOptions]="{standalone: true}"
                        type="checkbox">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-1">
                  <div>
                    <label class="col-form-label">
                      Sat
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                      <input class="custom-control-input" (click)="daysClickHandler($event, 5)" [(ngModel)]="selectedDaysArray[5][1]" [ngModelOptions]="{standalone: true}"
                        type="checkbox">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-1">
                  <div>
                    <label class="col-form-label">
                      Sun
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                      <input class="custom-control-input" (click)="daysClickHandler($event, 6)" [(ngModel)]="selectedDaysArray[6][1]" [ngModelOptions]="{standalone: true}"
                        type="checkbox">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div *ngIf="(showErrorDropdown && validateFields.selectedDays)">
                <small class="chankya-block" class="text-danger">
                  Weekday(s) are required
                </small>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="col-md-6">
                <label class="col-form-label">
                  Start Date
                </label>
                <div class="input-group">
                  <input class="form-control" id="date-input" type="date" name="startDate" (change)="onDateChanged(0)" [(ngModel)]="startDateHtml" [ngClass]="{'no-pointer-event': (this.createRosterCommand.occurrence === 'Today' || this.createRosterCommand.occurrence === 'Tomorrow'  || this.createRosterCommand.occurrence === null)}">
                </div>
                <div *ngIf="(showErrorDropdown && validateFields.startDate)">
                  <small class="chankya-block" class="text-danger">
                    Start Date is required
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-form-label">
                  Start Time
                </label>
                <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                  <select class="form-control" name="startTime" #startTime="ngModel" (change)="setStartTime()" [(ngModel)]="createRosterCommand.startTime">
                    <option *ngFor="let time of timeArray" [value]="time">{{time}}</option>
                  </select>
                </div>

                <div *ngIf="(showErrorDropdown && validateFields.startTime)">
                  <small class="chankya-block" class="text-danger">
                    Start Time is required
                  </small>
                </div>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="col-md-6">
                <label class="col-form-label">
                  End Date
                </label>
                <div class="input-group">
                  <input class="form-control" id="date-input" type="date" name="endDate" (change)="onDateChanged(1)" [(ngModel)]="endDateHtml" [ngClass]="{'no-pointer-event': (this.createRosterCommand.occurrence === 'Today' || this.createRosterCommand.occurrence === 'Tomorrow'  || this.createRosterCommand.occurrence === null)}">
                </div>
                <div *ngIf="(showErrorDropdown && validateFields.endDate)">
                  <small class="chankya-block" class="text-danger">
                    End Date is required
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-form-label">
                  End Time
                </label>
                <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                  <select class="form-control" name="endTime" #endTime="ngModel" (change)="setEndTime()" [(ngModel)]="createRosterCommand.endTime">
                    <option *ngFor="let time of timeArray" [value]="time">{{time}}</option>
                  </select>
                </div>
                <div *ngIf="(showErrorDropdown && validateFields.endTime)">
                  <small class="chankya-block" class="text-danger">
                    Start Time is required
                  </small>
                </div>
              </div>
            </div>
            <div class="form-row form-group" style="display: inline-grid;">
              <label class="col-form-label">
                Summary
              </label>
              <div>
                <span>
                  {{summaryString}}
                </span>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="chk-block">
        <div class="chk-block-title col-md-12" style="display: inline-flex">
          <div class="col-md-3">
            <button class="btn btn-primary btn-lg" (click)="updateRoster()" type="submit">Save</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary btn-lg" (click)="cancelUpdate()" type="submit">Cancel</button>
          </div>
        </div>
        <!-- <div class="chk-block-content">
          <div class="form-row form-group">
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-lg-12 col-xl-6">
      <div class="chk-block">
        <div class="chk-block-title" id="checkInnerHtml">
          <h3 class="text-capitalize">Driver</h3>
        </div>
        <div class="chk-block-content">
          <div>
            <label class="col-form-label" style="padding-left: 0px;">
              Select Driver Name
            </label>
            <div class="form-row" style="margin-top: 5px;">
              <div class="btn-group-sm col-md-3">
                <button *ngIf="selectedUser.id === null" class="btn btn-primary btn-lg" (click)="getDriverList()" type="submit">Show Drivers</button>
                <button *ngIf="selectedUser.id !== null" class="btn btn-primary btn-lg" (click)="getDriverList()" type="submit">Change Driver</button>
              </div>
              <div *ngIf="selectedUser.id !== null" class="form-row form-group col-md-9">
                <div class="col-md-10">
                  <span>{{selectedUser.firstName}} {{selectedUser.lastName}}</span>
                </div>
                <div class="col-md-2">
                  <img class="userPic" style="height: 60px;" id="userPictureAdd" [src]="getUserImage(selectedUser.image)">
                </div>
              </div>
            </div>
          </div>
          <div>
            <div *ngIf="(showErrorDropdown && validateFields.userId)">
              <small class="chankya-block" class="text-danger">
                Driver is required
              </small>
            </div>
            <div *ngIf="(selectDriverError)">
              <small class="chankya-block" class="text-danger">
                Select Occurrence first
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="chk-block">
        <div class="chk-block-title">
          <h3 class="text-capitalize">Vehicle</h3>
        </div>
        <div class="chk-block-content">
          <div>
            <label class="col-form-label" style="padding-left: 0px;">
              Select Vehicle
            </label>
            <div class="form-row" style="margin-top: 5px;">
              <div class="btn-group-sm col-md-5">
                <button *ngIf="selectedVehicle.id === null" class="btn btn-primary btn-lg" (click)="getVehicleList()" type="submit">Show Vehicles</button>
                <button *ngIf="selectedVehicle.id !== null" class="btn btn-primary btn-lg" (click)="getVehicleList()" type="submit">Change Vehicle</button>
              </div>
              <div *ngIf="selectedVehicle.id !== null" class="col-md-7">
                <div class="col-md-12" style="display: inline-flex;padding: 0px;">
                  <span>{{selectedVehicle.registrationNumber}}({{selectedVehicle.brand}} {{selectedVehicle.model}})</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row form-group">
            <div *ngIf="(showErrorDropdown && validateFields.vehicleId)">
              <small class="chankya-block" class="text-danger">
                Vehicle is required
              </small>
            </div>
            <div *ngIf="(selectVehicleError)">
              <small class="chankya-block" class="text-danger">
                Select Occurrence first
              </small>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-5">
              <label class="col-form-label">
                Initial Odometer Reading
              </label>
            </div>
            <div class="col-md-7">
              <input name="initialOdometerRead" #initialOdometerRead="ngModel" [(ngModel)]="createRosterCommand.initialOdometerRead" class="form-control"
                type="text" placeholder="Initial Odometer Reading">
            </div>
          </div>
        </div>
      </div>
      <div class="chk-block">
        <div class="chk-block-title">
          <h3 class="text-capitalize">Status</h3>
        </div>
        <div class="chk-block-content">
          <div class="form-row form-group">
            <!-- <label class="col-form-label">
              Status
            </label> -->
            <div class="btn-group dropdown col-md-12" style="padding: 0px;">
              <select class="form-control" name="rosterStatus" #rosterStatus="ngModel" [(ngModel)]="createRosterCommand.rosterStatus">
                <option *ngFor="let status of statusArray" [value]="status">{{status}}</option>
              </select>
            </div>
            <div *ngIf="(showErrorDropdown && validateFields.rosterStatus)">
              <small class="chankya-block" class="text-danger">
                Status is required
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <!-- <div *ngIf="responseSuccess === true" style="text-align: center;" class="col-sm-12 alert bg-success alert-dismissible fade show"
      role="alert">
      <strong></strong> {{responseMessage}}
    </div>
    <div *ngIf="responseFail === true" style="text-align: center;" class="col-sm-12 alert bg-danger alert-dismissible fade show"
      role="alert">
      <strong></strong> {{responseMessage}}
    </div> -->
  </div>
</div>
