<!-- Visit Section -->
<div class="visit-wrapper py-5">
   <div class="container">
      <div class="blog-alternate mb-4" *ngFor="let visit of visitManagement">
         <div class="row">
            <div class="col-sm-12 col-md-6">
               <div class="overlay-wrap mb-3">
                  <img [src] ="visit?.image_path" width="500" height="500" class="img-fluid border-rad w-100" alt="gallery images" />
                  <a href="{{visit?.image_path}}" data-fancybox="images" class="card-img-overlay primary-tp-layer pos-center text-center">
                     <span class="center-holder">
                        <a class="ih-fade-down square-60 rounded-circle bg-white shadow-md">
                           <i class="fa fa-plus align-middle"></i>
                        </a>
                     </span>
                  </a>
               </div>
            </div>
            <div class="col-sm-12 col-md-6">
               <div class="visit-content py-4">
                  <h2 class="sidebar-title title"><a href="javascript:void(0);">{{visit?.heading}}</a></h2>
                  <p class="mb-3">{{visit?.content}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
