<!-- Sidebar Widget layout -->
<div class="sidebar-widget py-5">
   <div class="container">
      <div class="card-columns">
         <div class="border-bottom-dash">
            <div class="card mb-3">
               <div class="card-body">
                  <h4 class="mb-3"> Search </h4>
                  <chankya-searchNow></chankya-searchNow>
               </div>
            </div>
         </div>
         <!-- search now widget closed -->
         <div class="card border-bottom-dash pt-3">
            <chankya-categoriesList [categories]="categories"></chankya-categoriesList> 
         </div> 
         <!-- Categories widget closed -->
         <div class="card border-bottom-dash pt-3">
            <chankya-popularPosts [popularPosts]="popularPosts"></chankya-popularPosts>
         </div>
         <!-- Popular post widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="social-share mb-3">
               <chankya-socialShareList [socialShare]="socialShare"></chankya-socialShareList>
            </div>
         </div>
         <!-- Social Share widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="social-share mb-3">
               <chankya-socialTags [Socials]="socialShare"></chankya-socialTags>
            </div>
         </div>
         <!-- Social icon widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="recent-comment mb-3">
               <chankya-recentCommentsWithDate [recentComments]="recentComments"></chankya-recentCommentsWithDate>
            </div>
         </div>
         <!-- Recent Comment widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="recent-comment mb-3">
               <chankya-recentCommentsWithIcon [recentComments]="recentComments"></chankya-recentCommentsWithIcon>
            </div>
         </div>
         <!-- Recent Comment icon widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="subscribe mb-3 border border-rad">
               <chankya-subsribeSidebar></chankya-subsribeSidebar>
            </div>
         </div>
         <!-- Subscribe closed -->
         <div class="card border-bottom-dash">
            <chankya-instagramGallary [InstagramImages]="instagramGallary"></chankya-instagramGallary>
         </div>
         <!-- Instagram Gallery widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="mb-3">
               <chankya-tabStructure [tabsContent]="tabContent"></chankya-tabStructure>
            </div>
         </div>
         <!-- Tab post Widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="contact-widget mb-3">
               <chankya-contactUsList [contact]="contactInfo"></chankya-contactUsList>
            </div>
         </div>
         <!-- Contact list widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="contact-form mb-3">
               <chankya-contactUs2 [contact]="contactInfo"></chankya-contactUs2>
            </div>
         </div>
         <!-- Contact Form widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="cart-widget mb-3">
               <chankya-cart [cart]="cartInfo"></chankya-cart>
            </div>
         </div>
         <!-- Cart widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="mb-3">
               <chankya-latestTweets [tweets]="tweets"></chankya-latestTweets>
            </div>
         </div>
         <!-- Latest tweets Widget closed -->
         <div class="card border-bottom-dash">
            <div class="mb-3">               
               <chankya-category2 [categories]="categories"></chankya-category2>
            </div>
         </div>
         <!-- Categories Widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="mb-3">
               <chankya-tags1 [tags]="tags"></chankya-tags1>
            </div>
         </div>
         <!-- Tags Widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="mb-3">
               <chankya-testimonial1 [testimonialContent]="testimonial"></chankya-testimonial1>
            </div>
         </div>
         <!-- Testimonial-1 Widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="mb-3">
               <chankya-testimonial2 [testimonial2Content]="testimonial"></chankya-testimonial2>
            </div>
         </div>
         <!-- Testimonial-2 Widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="mb-3">
               <chankya-archive [archive]="archive"></chankya-archive>
            </div>
         </div>
         <!-- Archive Widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="mb-3">
               <chankya-tags2 [tags]="tags"></chankya-tags2>
            </div>
         </div>
         <!-- Tags Widget closed -->
         <div class="card border-bottom-dash pt-3">
            <div class="mb-3">
               <chankya-aboutAuthor [aboutAuthor]="authorInfo"></chankya-aboutAuthor>
            </div>
         </div>
         <!-- Author Widget closed -->
      </div><!-- row closed -->
   </div>
</div><!--sidebar widget closed --> 