<div class="row">
  <div class="col-sm-12 col-md-10 mx-auto">
    <div class="chk-block">
      <div class="chk-block-content">
        <form #newFleetForm="ngForm" (keypress.enter)="createNewFleetBusiness(newFleetForm)">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label section-heading" for="businessDetail">
                Business Detail
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="fleetName">
                <span class="red">*&nbsp;</span>Fleet/Business Name</label>
              <input name="fleetName" #fleetName="ngModel" [(ngModel)]="createFleetProfileCommand.fleetName" class="form-control" type="text"
                placeholder="Fleet Name" (keypress)="removeError()" required>
              <div *ngIf="(showError && createFleetProfileCommand.fleetName === null) || (fleetName.invalid && (fleetName.dirty || fleetName.touched))">
                <small *ngIf="fleetName.errors?.required" class="chankya-block" class="text-danger">
                  Fleet Name is required
                </small>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="col-form-label" for="entityType">
                <span class="red">*&nbsp;</span>Entity Type</label>
              <div class="btn-group dropdown col-md-12" style="padding: 0px;">
                <select class="form-control" (change)="checkBlankField('entityType')" (blur)="checkBlankField('entityType')" name="entityType"
                  #entityType="ngModel" [(ngModel)]="createFleetProfileCommand.entityType">
                  <option *ngFor="let entity of entityTypeArray" [value]="entity">{{entity}}</option>
                </select>
              </div>
              <div *ngIf="(showErrorDropdown && entityTypeError)">
                <small class="chankya-block" class="text-danger">
                  Please enter Entity Type
                </small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="ACN">
                <span class="red" *ngIf="createFleetProfileCommand.entityType === 'Company'">*&nbsp;</span>ACN</label>
              <input name="ACN" #ACN="ngModel" [(ngModel)]="createFleetProfileCommand.ACN" class="form-control" type="text" placeholder="ACN"
                (keypress)="removeError()" [required]="createFleetProfileCommand.entityType === 'Company'">
              <div *ngIf="(showError && createFleetProfileCommand.ACN === null) || (ACN.invalid && (ACN.dirty || ACN.touched))">
                <small *ngIf="ACN.errors?.required" class="chankya-block" class="text-danger">
                  ACN is required
                </small>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="col-form-label" for="ABN">
                <span class="red" *ngIf="createFleetProfileCommand.ACN === null">*&nbsp;</span>ABN</label>
              <input name="ABN" #ABN="ngModel" [(ngModel)]="createFleetProfileCommand.ABN" class="form-control" type="text" placeholder="ABN"
                (keypress)="removeError()" [required]="createFleetProfileCommand.ACN === null">
              <div *ngIf="(showError && createFleetProfileCommand.ABN === null) || (ABN.invalid && (ABN.dirty || ABN.touched))">
                <small *ngIf="ABN.errors?.required" class="chankya-block" class="text-danger">
                  ABN is required
                </small>
              </div>
            </div>
          </div>
          <div class="form-row" style="margin-top: 20px;">
            <div class="form-group col-md-6">
              <label class="col-form-label section-heading" for="limmits">
                  Limits / Restriction
              </label>
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="dailyExpenseLimit">Daily Expense Limit</label>
              <div class="input-group form-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="dailyExpenseLimit" #dailyExpenseLimit="ngModel" [(ngModel)]="setDefaultExpenseLimitCommand.dailyExpenseLimit"
                  aria-label="Amount (to the nearest dollar)" type="text" placeholder="Daily Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">
                <div *ngIf="dailyExpenseLimit.invalid && (dailyExpenseLimit.dirty || dailyExpenseLimit.touched)">
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label" for="weeklyExpenseLimit">Weekly Expense Limit</label>
              <div class="input-group form-group">
                <span class="input-group-addon">$</span>
                <input name="weeklyExpenseLimit" #weeklyExpenseLimit="ngModel" [(ngModel)]="setDefaultExpenseLimitCommand.weeklyExpenseLimit"
                  class="form-control" type="text" placeholder="Weekly Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)"
                  aria-label="Amount (to the nearest dollar)">
                <div *ngIf="weeklyExpenseLimit.invalid && (weeklyExpenseLimit.dirty || weeklyExpenseLimit.touched)">
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="weeklyExpenseLimit">Monthly Expense Limit</label>
              <div class="input-group form-group">
                <span class="input-group-addon">$</span>
                <input name="monthlyExpenseLimit" #monthlyExpenseLimit="ngModel" [(ngModel)]="setDefaultExpenseLimitCommand.monthlyExpenseLimit"
                  class="form-control" type="text" placeholder="Monthly Expense Limit" (keypress)="utils.inputFieldCheck.isPureNumeric($event)">

                <div *ngIf="monthlyExpenseLimit.invalid && (monthlyExpenseLimit.dirty || monthlyExpenseLimit.touched)">

                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="formSelect2" class="fuelGrade">Fuel Grades Restriction</label>
              <select name="fuelGradesRestriction" #fuelGradesRestriction="ngModel" [(ngModel)]="setDefaultFuelRestrictionCommand.fuelGradesRestriction"
                multiple class="form-control" id="formSelect2">
                <option *ngFor="let fuelGrades of fuelGradesArray" [value]="fuelGrades">{{fuelGrades}}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <ng-container *ngIf="isProfileAlreadyCreated; else profileNotCreated">
              <div class="form-group col-md-6">
                <button class="btn btn-primary btn-lg" (click)="updateFleetProfile(newFleetForm)" type="submit">Save</button>
              </div>
            </ng-container>
            <ng-template #profileNotCreated>
              <div class="form-group col-md-6">
                <button class="btn btn-primary btn-lg" (click)="createNewFleetBusiness(newFleetForm)" type="submit">Create</button>
              </div>
            </ng-template>
          </div>
          <div class="form-row">
            <div *ngIf="responseSuccess === true" style="text-align: center;" class="col-sm-12 alert bg-success alert-dismissible fade show"
              role="alert">
              <strong></strong> {{responseMessage}}
            </div>
            <div *ngIf="responseFail === true" style="text-align: center;" class="col-sm-12 alert bg-danger alert-dismissible fade show"
              role="alert">
              <strong></strong> {{responseMessage}}
            </div>
          </div>
        </form>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>