.red {
    color: red;
}

.dropdown-custom-button {
    background-color: white;
    text-align: left;
    color: #414658;
}

.dropdown-custom-button:after {
    color: white;
}

.dropdown-custom-button:hover {
    background-color: white;
}

.dropdown-list {
    left: -128px !important;
}

.dropdown-list-type {
    left: -329px !important;
}

.dropdown-list a,
.dropdown-list-type a {
    color: #414658;
}

.dropdown-custom-list {
    max-height: 200px;
    overflow-y: auto;
}

.table thead th {
    vertical-align: top;
    /* border-bottom: 2px solid #DEE4E8; */
}

.section-heading {
    font-weight: 600;
    font-size: large;
}