<!-- Video section -->
<div class="about-video py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 mx-auto">
        <div class="card border-0 shadow-md text-white border-rad">
          <img class="card-img img-fluid border-rad" src="assets/img/community.jpg" alt="Card image" width="319" height="300">
          <div class="card-img-overlay black-tp-layer pos-center text-center border-rad">
            <div class="center-holder">
              <a data-fancybox href="https://youtu.be/w_BdhcoCEQU" class="play-button">
                <i>
                  <span class="btn-text"><span>Play</span></span>
                  <span class="btn-icon"><i class="fa fa-play"></i></span>
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Post Section -->
<div class="post-section py-5">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-4 mb-3" *ngFor="let cacPost of cac">
            <div class="card border-0 border-rad">
               <img class="border-rad-top img-fluid w-100" [src]="cacPost?.image_path" alt="Card image cap" width="370" height="250" />
               <div class="card-body border-rad-bottom">
                  <h2 class="card-title mb-3 title"><a href="{{cacPost?.read_more_url}}">{{cacPost?.heading}}</a></h2>
                  <p class="card-text">{{cacPost?.content}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Load More
<div class="load-more p-4 text-center">
   <div class="container">
      <a href="javascript:void(0)" class="text-muted font-lg"> <i class="fa fa-refresh mr-3 fa-spin"></i>LOAD MORE </a>
   </div>
</div>
 -->
