<div class="feature-wrapper">
    <div class="feature-slide py-5">
      <div class="container" *ngIf="lprContent?.lpr_details">
          <div class="row" >
              <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                  <img [src] ="lprContent?.lpr_details?.image_path" width="367" height="367" class="img-fluid w-100" alt="feature images" />
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="feature-slide-content pt-3">
                      <h2 class="font-2x mb-4">{{lprContent?.lpr_details?.heading}}</h2>
                      <p class="mb-4 font-lg">{{lprContent?.lpr_details?.sub_heading}}</p>
                      <ul class="list-unstyled">
                          <li class="font-sm text-muted mb-3" *ngFor= "let lprList of lprContent?.lpr_details?.list">
                              <i class="{{lprList?.icon}} mr-3"></i>
                              {{lprList?.content}}
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div><!-- lpr slide section -->
   <div class="feature-work py-5 bg-light">
        <div class="container" *ngIf="lprContent?.lpr_work">
            <div class="section-title-wrapper mb-5">
                <div class="row">
                    <div class="col-sm-12 col-md-10 mx-auto text-center">
                        <h2 class="font-2x mb-3">Features</h2>
                        <p class="font-lg">
                            Accurate, simple, cost-effective and efficient ALPR technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 mb-3" *ngFor="let content of lprContent?.lpr_work" >
                    <div class="card-line-box  p-4">
                        <div class="mb-4">
                            <img [src] ="content?.image_path" class="img-fluid">
                        </div>
                        <h3 class="mb-3">{{content?.heading}}</h3>
                        <p>{{content?.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--feature work section -->
    <div class="feature-slide py-5">
        <div class="container" *ngIf="lprContent?.lpr_mall">
            <div class="row" >
              <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="card border-0 shadow-md text-white border-rad">
                  <img class="card-img img-fluid border-rad" src="assets/img/mall-payment.jpg" alt="Card image" width="319" height="300">
                  <div class="card-img-overlay black-tp-layer pos-center text-center border-rad">
                    <div class="center-holder">
                      <a data-fancybox href="https://youtu.be/mYrhtb159lo" class="play-button">
                      <i>
                        <span class="btn-text"><span>Play</span></span>
                        <span class="btn-icon"><i class="fa fa-play"></i></span>
                      </i>
                    </a>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="feature-slide-content pt-3">
                      <h2 class="font-2x mb-4">{{lprContent?.lpr_mall?.heading}}</h2>
                      <p class="mb-4 font-lg">{{lprContent?.lpr_mall?.sub_heading}}</p>
                      <ul class="list-unstyled">
                          <li class="font-sm text-muted mb-3" *ngFor= "let lprList of lprContent?.lpr_mall?.list">
                              <i class="{{lprList?.icon}} mr-3"></i>
                              {{lprList?.content}}
                          </li>
                      </ul>
                  </div>
                </div>
            </div>
        </div>
    </div><!-- lpr video section -->
    <div class="feature-slide py-5 bg-light">
        <div class="container" *ngIf="lprContent?.lpr_parking">
            <div class="row" >
              <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="feature-slide-content pt-3">
                      <h2 class="font-2x mb-4">{{lprContent?.lpr_parking?.heading}}</h2>
                      <p class="mb-4 font-lg">{{lprContent?.lpr_parking?.sub_heading}}</p>
                      <ul class="list-unstyled">
                          <li class="font-sm text-muted mb-3" *ngFor= "let lprList of lprContent?.lpr_parking?.list">
                              <i class="{{lprList?.icon}} mr-3"></i>
                              {{lprList?.content}}
                          </li>
                      </ul>
                  </div>
                </div>
              <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="card border-0 shadow-md text-white border-rad">
                  <img class="card-img img-fluid border-rad" src="assets/img/parking.jpg" alt="Card image" width="319" height="300">
                  <div class="card-img-overlay black-tp-layer pos-center text-center border-rad">
                    <div class="center-holder">
                      <a data-fancybox href="https://youtu.be/0oKdteDhD9U" class="play-button">
                      <i>
                        <span class="btn-text"><span>Play</span></span>
                        <span class="btn-icon"><i class="fa fa-play"></i></span>
                      </i>
                    </a>
                  </div>
                </div>
                </div>
              </div>
            </div>
        </div>
    </div><!-- lpr video section -->
</div>
