<div #scrollContainer class="over-scroll" [ngClass]="{'fixed-header' : fixedHeaderClass}">
<header chankya-header></header>

<!-- If home page so show this content -->
<div *ngIf="router?.url == '/home'" class="site-banner">
    <div class="banner-wrapper black-tp-layer">
        <div class="banner-inner">
            <div class="banner-content container text-center container-full-width">
              <div class="d-title">
               <h2 class="display-4 fw-200 mb-4 text-white text-capitalize">
                  <span>Visitor Management</span>
                  <span>Parking Management</span>
                  <span>CCTV Surveillance</span>
                  <span>Fuel Theft Prevention</span>
                </h2>
              </div>
              <br><br><br><br><br><h4 class="text-white font-2x">We innovate for your peace of mind!</h4>
            </div>
        </div>
    </div>
</div>

<!-- All page title get -->
<div class="section-heading py-5 bg-light" *ngIf="router?.url != '/home' && router?.url != '/blog-sidebar' && router?.url != '/blog-no-sidebar' && router?.url != '/login' && router?.url != '/sign-up' && router?.url != '/thank-you' && router?.url != '/not-found' && router?.url != '/maintenance'">
    <div class="text-center">
        <div class="container">
            <h2 class="mb-3">{{headerTitle}}</h2>
            <h4 class="">{{headerSubTitle}}</h4>
        </div>
    </div>
</div>

<!-- Header of blog sidebar and blog no sidebar page -->
<div class="card text-white text-center border-0" *ngIf="router?.url == '/blog-sidebar' || router?.url == '/blog-no-sidebar'">
   <img class="img-fluid" [src]="featuredPost?.image_path" alt="Card image" height="400" width="1920">
   <div class="card-img-overlay black-layer-8 pos-center py-6">
      <div class="center-holder">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-6 mx-auto">
                  <h5 class="text-info mb-4 d-xs-none"> Featured Post </h5>
                  <h2 class="font-2x mb-4 text-white"> {{featuredPost?.heading}}</h2>
                  <div class="blog-meta mb-3 d-xs-none">
                     <a href="javascript:void(0);" class="mr-3">
                        <i class="fa {{featuredPost?.user_icon}} mr-2 text-white font-lg"></i>
                        <span class="text-white font-sm"> {{featuredPost?.user_name}}</span>
                     </a>
                     <a href="javascript:void(0);">
                        <i class="fa fa-calendar-o mr-2 text-white font-lg"></i>
                        <span class="text-white font-sm">{{featuredPost?.date*1000 | date }}</span>
                     </a>
                  </div>
                  <p class="card-text d-xs-none"> {{featuredPost?.content}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="chankya-base-container">
  <div class="inner-container">
		<router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
  </div>
</div>
<!-- <footer chankya-footer></footer> -->
<footer chankya-footer2></footer>
</div>
