<div class="modal-header">
    <h4 class="modal-title" >{{heading}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal1( )">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 480px;overflow: auto;">
    <h4>{{heading1}}</h4>
  </div>   
      <div class="modal-footer">      
      <button type="button"  class="btn btn-default" (click)="closeModal( )"> yes </button>
          <button type="button" class="btn btn-default"  (click)="closeModal1( )">No</button>
     
    </div>
