.app-download-section{
  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    li{
      list-style: decimal;
      padding:3px 0;
      i{
        margin-right: 5px;
      }
      &:last-child{
        list-style: none;
      }
    }
  }
}
