<div class="border0px">
  <div class="chk-block-content">
    <div class="table-responsive">
      <table class="table table-striped table-hover" data-filtering="true" data-sorting="true">
        <thead class="ng-tns-c7-4">
          <tr class="footable-filtering">
            <th colspan="6">
              <div class="form-inline">
                  <select id="selectid" class="form-control" name="status" (change)='searchFilter1($event)'>
                    <option selected disabled hidden style='display: none' value=''>Select Status</option>
                    <option value="">All</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                  </select>
              </div>

              <div class="form-inline">
                <div class="input-group">
                  <input type="text" class="form-control" (keydown)="searchFilter()" [(ngModel)]="vehicleFilterInput" placeholder='Search'/>
                  <div class="input-group-btn open">
                  </div>
                </div>
              </div>
            </th>
          </tr>
          <tr class="bg-success">
            <th class="ng-tns-c7-4" data-breakpoints="xs sm md" style="width: 6%;">S.No</th>
            <th class="ng-tns-c7-4" data-breakpoints="xs sm md">Brand
              <span clear text-center (click)="toggleBrand()">
                <span (click)="sortBrand(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible"></i>
                </span>
                <span (click)="sortBrand(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible"></i>
                </span>
              </span>
            </th>
            <th class="ng-tns-c7-4" data-breakpoints="xs sm md">Model
              <span clear text-center (click)="toggleModel()">
                <span (click)="sortModel(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible1"></i>
                </span>
                <span (click)="sortModel(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible1"></i>
                </span>
              </span>
            </th>
            <th class="ng-tns-c7-4" data-breakpoints="xs sm md">Registration Number
              <span clear text-center (click)="toggleRegistrationNumber()">
                <span (click)="sortRegistrationNumber(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible2"></i>
                </span>
                <span (click)="sortRegistrationNumber(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible2"></i>
                </span>
              </span>
              <th class="ng-tns-c7-4" data-breakpoints="xs sm md">Status
                <span clear text-center (click)="toggleStatus()">
                  <span (click)="sortStatus(true)">
                    <i class="fa fa-sort-asc" *ngIf="!visible3"></i>
                  </span>
                  <span (click)="sortStatus(false)">
                    <i class="fa fa-sort-desc" *ngIf="visible3"></i>
                  </span>
                </span>
              </th>
              <th class="ng-tns-c7-4" data-breakpoints="xs sm md">Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of vehicleDetails; let i = index">
            <td>{{i + 1}}</td>
            <td>{{detail.brand}}</td>
            <td>{{detail.model}}</td>
            <td>{{detail.registrationNumber}}</td>
            <td>{{detail.vehicleStatus}}</td>
            <td>
              <span class="hand-icon" (click)="updateVehicle(detail.id)">
                <i class="fa fa-pencil"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
