// .hand-icon {
//     cursor: pointer;
// }

// .border0px {
//     border: 0px;
// }
// .btn-group .glyph-item glyphicon glyphicon-menu-up {


//     text-align: center;
//     text-decoration: none;
//     display: inline-block;

//     cursor: pointer;
//     // width: 100px;
//     display: block;
// }
// .
.pull-left {
        float: left;
        margin-left: 420px;
        margin-bottom: -60px;
     }