<div class="card-wrapper">
<div class="row">
        <div class="col-lg-12 col-xl-4">
            <div class="card card-white">
                <div class="card-header">
                    Vehicle
                </div>
                <div class="card-body">
                    <h3 class="text-capitalize">Total Vehicle: 256</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-4">
            <div class="card card-white">
                <div class="card-header">
                    Driver
                </div>
                <div class="card-body">
                    <h3 class="text-capitalize">Total Driver: 565</h3>
                </div>
            </div>
        </div>
  </div>