<!-- Visit Section -->
<div class="visit-wrapper py-5">
   <div class="container">
      <div class="blog-alternate mb-4" *ngFor="let setup of setupContent">
         <div class="row">
            <div class="col-sm-12 col-md-6">
               <div class="overlay-wrap mb-3">
                  <img [src] ="setup?.image_path" width="500" height="500" class="img-fluid border-rad w-100" alt="gallery images" />
                  <a href="{{setup?.image_path}}" data-fancybox="images" class="card-img-overlay primary-tp-layer pos-center text-center">
                     <span class="center-holder">
                        <a class="ih-fade-down square-60 rounded-circle bg-white shadow-md">
                           <i class="fa fa-plus align-middle"></i>
                        </a>
                     </span>
                  </a>
               </div>
            </div>
            <div class="col-sm-12 col-md-6">
               <div class="feature-slide-content pt-3">
                        <h2 class="font-2x mb-4">{{setup?.heading}}</h2>
                        <p class="mb-4 font-lg">{{setup?.sub_heading}}</p>
                        <ul class="list-unstyled">
                            <li class="font-sm text-muted mb-3" *ngFor= "let setupList of setup?.list">
                                <i class="{{setupList?.icon}} mr-3"></i>
                                {{setupList?.content}}
                            </li>
                        </ul>
                    </div>
            </div>
         </div>
      </div>
   </div>
</div>
