<!-- Service grid -->
<div class="col-sm-12 col-md-4 col-xl-4 mb-5" *ngFor="let content of serviceGridContent ? serviceGridContent.slice(0,3):[]">
   <div class="info-card text-center">
      <div class="icon-wrap mb-3 {{content?.icon?.color}}">
        <i class="{{content?.icon?.name}} font-4x"></i>
      </div>
      <h2 class="mb-4 info-title">{{content?.title}}</h2>
      <p class="mb-3">{{content?.content}}</p>
      <a [routerLink]="['/', content.link]" routerLinkActive="active-link" class="text-uppercase btn {{content?.btnBgClass}} btn-sm">
         SEE MORE
      </a>
   </div>
</div>
