<!-- homepage banner Slider -->
<div id="homepagebanner-slide" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <div class="carousel-item active text-center">
          <img src="assets/img/Fuelic_banner_anpr_final.jpg" class="" alt="Fuelic">
          <div class="banner-caption">
            <h2 class="text-white">Fuelic Automatic Number Plate Recognition</h2>
            <h3 class="text-white">Reliable, accurate & cost effective</h3>
            <ul class="highlights">
              <li class="text-white points"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Highly accurate & efficient number plate recognition system</li>
              <li class="points text-white"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Effectively manage Blacklist and Whitelist vehicles, also send reports to law-enforcement authority</li>
              <li class="points text-white"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Detect colour, make, model, year range & possible state of the vehicle</li>
              <li class="points text-white"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Real-time and historical tracker of vehicle</li>
              <li class="points text-white"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Interface to control Gates and manage payment systems etc.</li>
            </ul>
          </div>
        </div>

        <div class="carousel-item text-center" *ngFor="let content of bannerItems">
          <img [src]="content?.image" class="" alt="Fuelic">
          <div class="banner-caption">
            <h2 class="text-white">{{content?.title}}</h2>
            <h3 class="text-white">{{content?.subtitle}}</h3>
            <ul class="highlights"><li class="points text-white" *ngFor="let point of content.highlight"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{point}}</li></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#homepagebanner-slide" role="button" data-slide="prev">
   	<span class="carousel-control-prev" aria-hidden="true">
         <i class="ion-ios-arrow-dropleft-circle font-2x"></i>
      </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#homepagebanner-slide" role="button" data-slide="next">
   	<span class="carousel-control-next" aria-hidden="true">
         <i class="ion-ios-arrow-dropright-circle font-2x"></i>
      </span>
    <span class="sr-only">Next</span>
  </a>
</div>
