#homepagebanner-slide{
  margin-top: 95px;
  height: 425px;
  overflow: hidden;
  img{
    max-width: 100%;
    height: 120%;
  }
  .banner-caption{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    top:0px;
    height: 100%;
    text-align: left;
    padding: 100px;
    font-size: 1.1rem;
    h2{
      font-size:2rem;
      font-weight: bold;
    }
    h3{
      font-size:1.5rem;
    }
    ul{
      list-style: none;
      padding:0px;
      margin:0px;
      li{
        list-style: none;
        padding:1px 0px;
        display: block;
        i{
          margin-right: 5px;
        }

      }
    }
  }
}
@media (max-width:767px) {
  #homepagebanner-slide{
    max-height: 250px;
    img{
    }
    .banner-caption{
      padding: 20px;
      font-size: .75rem;
      h2{
        font-size:1rem;
        font-weight: bold;
      }
      h3{
        font-size:.9rem;
      }
    }
  }
}
