<!-- Portfolio Section -->
<div class="portfolio-wrapper py-5">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let portfolio of portfolioV2">
            <div class="overlay-wrap mb-3">
               <img [src] ="portfolio?.image_path" width="500" height="500" class="img-fluid border-rad w-100" alt="gallery images" />
               <a href="{{portfolio?.image_path}}" data-fancybox="images" class="card-img-overlay primary-tp-layer pos-center text-center">
                  <span class="center-holder">
                     <a class="ih-fade-down square-60 rounded-circle bg-white shadow-md">
                        <i class="fa fa-plus align-middle"></i>
                     </a>
                  </span>
               </a>
            </div>
            <div class="portfolio-content text-center">
               <div>
                  <h5>{{portfolio?.title}}</h5>
                  <h2 class="sidebar-title title"><a href="javascript:void(0);">{{portfolio?.heading}}</a></h2>
               </div>
               <div>
                  {{portfolio?.content}}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
