.app-login-section{
  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    li{
      list-style: decimal;
      padding:3px 0;
      i{
        margin-right: 5px;
      }
      &:last-child{
        list-style: none;
      }
    }
  }
  .btn-login-fuelic{
    background-color: #000000;
    background: #000000;
    border:1px solid #cccccc;
    color: #ffffff !important;
    font-size: 24px;
    font-weight: 500;
  }
}
