<!-- Mobile Feature -->
  <div class="col-sm-12 col-md-4 text-center">
    <img src="assets/img/fuelic-laptop-app.png" alt="mobile feature" class="img-fluid" width="" height="">
  </div>
  <div class="col-sm-12 col-md-8 py-0 mt-0 mb-3 app-login-section">
    <ul class="list-unstyled text-white">
      <li class="media mb-3" *ngFor="let featured of loginFuelic">
			<span class="mr-5 d-flex">
				<i class="{{featured?.icon_class}} {{featured?.icon_path}} font-4x"></i>
			</span>
        <div class="media-body">
          <h2 class="mb-3 text-white">{{featured?.title}}</h2>
          <ul class="feature-point row">
            <li *ngFor="let feature of featured.features" class="col-sm-12 col-md-6"> {{feature}}</li>
          </ul>
        </div>
      </li>
      <li>
       <span class="col-sm-2 ml-5 mt-2">

       <a href="http://www.oodak.com" target="_blank" class="btn btn-lg btn-login-fuelic"><i class="fa fa-sign-in" aria-hidden="true"></i>  Coming Soon </a>

       </span>
      </li>
    </ul>
  </div>

