<div *ngFor="let content of about">
  <!-- Video section -->
  <div class="about-video py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 mx-auto">
          <div class="card border-0 shadow-md text-white border-rad">
            <img class="card-img img-fluid border-rad" [src]="content?.image_path" alt="About image" width="319" height="300">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Our Goles and mission  -->
  <div class="our-mission bg-light py-5">
    <div class="container">
      <div class="blog-alternate mb-4">
        <div class="row mb-5">
          <div class="col-sm-12 col-md-12">
            <h3>{{content.heading}}</h3>
            <p>{{content.p1}}</p>
            <p>{{content.p2}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

