<!-- Send Msg Form -->
<div class="card border-0 border-rad p-4 card-shadow">
   <div class="mb-4">
      <h2 class="font-2x mb-3 text-center"> Send Us Message </h2>
   </div>
   <form [formGroup] = "sendMessageForm" (ngSubmit) = "sendMessage(sendMessageForm.value)">
      <div class="form-row">
         <div class="form-group col-6">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" class="form-control" placeholder="" formControlName = "first_name" required>
         </div>
         <div class="form-group col-6">
            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" class="form-control" placeholder="" formControlName = "last_name" required>
         </div>
      </div>
      <div class="form-group">
         <label for="email-address">Email</label>
         <input id="email-address" type="email" class="form-control" placeholder="" formControlName = "email" required>
      </div>
      <div class="form-group">
         <label for="subject">subject</label>
         <input id="subject" type="text" class="form-control" placeholder="" formControlName = "subject" required>
      </div>
      <div class="form-group mb-4">
         <label for="message">Messages</label>
         <textarea id="message" class="form-control" rows="5" placeholder="" formControlName = "textarea" required></textarea>
      </div>
      <div class="form-group text-center">
         <button type="submit" class="btn btn-dark btn-chk-dark is-loading">Send Message <span class="btn-spinner ng-scope" *ngIf="showSpinner"></span></button>
      </div>
   </form>
</div>
