<!-- Tag Layout -->
<div class="mb-4">
   <h2 class="sidebar-title mb-3"> Tags </h2>
</div>
<a href="javascript:void(0)" class="btn btn-pill btn-sm mx-1 mb-2 {{tag?.btnBgClass}}" *ngFor="let tag of tags"> {{tag?.value}}</a>
