<!-- Team grid  -->
<div  class="col-sm-12 col-md-6 col-xl-6" *ngFor="let content of teamGridContent ? teamGridContent.slice(0,2):[]">
	<div class="card border-0 border-rad card-padding">
		<div class="overlay-wrap mb-4">
      <a href="{{content?.link}}">
			  <img class="img-fluid border-rad w-100" [src] ="content?.image_path" alt="Card image cap" width="400" height="400" />
      </a>
		</div>
		<div class="card-body p-0">
      <a href="{{content?.link}}">
        <h2 class="card-title mb-1">{{content?.name}}</h2>
      </a>
			<h5 class="mb-2">{{content?.type}}</h5>
			<p class="card-text">{{content?.content}}</p>
      <a class="text-uppercase btn btn-outline-info btn-sm" href="{{content?.link}}">
         KNOW MORE
       </a>
		</div>
	</div>
</div>
