<div class="login-wrapper">
    <div class="login-form-wrapper">
      <div class="bg-container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-8 col-xl-5 mx-auto">
                <div class="login-block text-center">
                    <div class="login-icon mb-5">
                        <span class="square-100">
                            <img class="img-fluid" src="/assets/img/favicon.png" alt="Fuelic" width="50">
                        </span>
                    </div>
                    <div class="mb-5">
                        <h2 class="text-capitalize font-2x mb-3">Recover Password</h2>
                        <p>Enter your email and we'll send you instructions on how to reset your password.</p>
                    </div>
                    <div *ngIf="responseSuccess === true" class="alert bg-success alert-dismissible fade show" role="alert">
                        {{responseMessage}}
                    </div>
                    <div *ngIf="responseFail === true" class="alert bg-danger alert-dismissible fade show" role="alert">
                        {{responseMessage}}
                    </div>
                    <form class="login-form" (keydown.enter)="send(forgotPasswordForm)" #forgotPasswordForm="ngForm" action="javascript:void(0)" method="post">
                        <div class="form-group">
                            <input type="email" [(ngModel)]="userEmail" id="email" name="email" #email="ngModel" class="form-control form-control-lg input-square"
                                placeholder="Email Address" (keypress)="removeError()" required email>
                            <div *ngIf="(showError && userEmail === null) || (email.invalid && (email.dirty || email.touched))">
                                <small *ngIf="(email.errors?.email && (showError && !email.errors?.required))" class="chankya-block" class="text-danger">
                                    Please enter Email Address
                                </small>
                                <small *ngIf="email.errors?.required" class="chankya-block" class="text-danger">
                                    Please enter Email Address
                                </small>
                            </div>
                        </div>
                        <div class="mb-4">
                            <a href="javascript:void(0)" (click)="send(forgotPasswordForm)" class="btn btn-primary btn-block btn-lg">Send</a>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6">
                                <a routerLink="/register" class="btn btn-danger btn-block btn-lg btn-pill">Register</a>
                            </div>
                            <div class="col col-lg-6">
                                <a routerLink="/login" class="btn btn-secondary btn-block btn-lg btn-pill">Login</a>
                            </div>
                        </div>
                    </form>
                    <!-- login form closed -->
                </div>
                <!-- login block closed -->
            </div>
        </div>
      </div>
    </div>
    <!-- login form wrapper closed -->
</div>
<!-- login wrapper closed -->
