<!-- Post Section -->
<div class="post-section py-5">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-4 mb-3" *ngFor="let industry of industries">
            <div class="card border-0 border-rad">
              <a href="{{industry?.read_more_url}}" class="text-center">
                <img class="border-rad img-fluid w-100" width="500" height="500"[src]="industry?.image_path" alt="Card image cap" width="370" height="250" />
              </a>
            </div>
         </div>
      </div>
   </div>
</div>
