<div class="portfolio-wrapper py-5">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let portfolio of portfolioV1">
            <div class="overlay-wrap mb-3">
               <img [src] ="portfolio?.image_path" width="500" height="500" class="img-fluid border-rad w-100" alt="gallery images" />
               <a href="{{portfolio?.image_path}}" data-fancybox="images" class="card-img-overlay primary-tp-layer pos-center text-center">
                  <span class="center-holder">
                     <a class="ih-fade-down square-60 rounded-circle bg-white shadow-md">
                        <i class="fa fa-plus align-middle"></i>
                     </a>
                  </span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>