<div class="feature-wrapper">
    <div class="feature-slide py-5">
        <div class="container" *ngIf="parkingManagementContent?.parking_details">
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                    <img [src] ="parkingManagementContent?.parking_details?.image_path" width="367" height="367" class="img-fluid w-100" alt="feature images" />
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="feature-slide-content pt-3">
                        <h2 class="font-2x mb-4">{{parkingManagementContent?.parking_details?.heading}}</h2>
                        <p class="mb-4 font-lg">{{parkingManagementContent?.parking_details?.sub_heading}}</p>
                        <ul class="list-unstyled">
                            <li class="font-sm text-muted mb-3" *ngFor= "let parkingList of parkingManagementContent?.parking_details?.list">
                                <i class="{{parkingList?.icon}} mr-3"></i>
                                {{parkingList?.content}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- parking slide section -->
    <div class="feature-work py-5 bg-light">
        <div class="container" *ngIf="parkingManagementContent?.parking_work">
            <div class="section-title-wrapper mb-5">
                <div class="row">
                    <div class="col-sm-12 col-md-10 mx-auto text-center">
                        <h2 class="font-2x mb-3">Salient Features</h2>
                        <p class="font-lg">
                            Accuracy, free flow of vehicles, simplicity, cost-effectiveness and ease of access are just few words to define it.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 mb-3" *ngFor="let content of parkingManagementContent?.parking_work" >
                    <div class="card-line-box  p-4">
                        <div class="mb-4">
                            <img [src] ="content?.image_path" class="img-fluid">
                        </div>
                        <h3 class="mb-3">{{content?.heading}}</h3>
                        <p>{{content?.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--feature work section -->
<</div>
