<!-- Latest Blog Section -->
<div class="blog-masonry-wrapper py-5">
  <div class="container">
    <div class="card-columns">
        <div class="card border-0 border-rad mb-3">
           <img class="border-rad-top img-fluid w-100" src="assets/img/blog-thumb-1.jpg" alt="Card image cap" width="370" height="250" />
           <div class="card-body border-rad-bottom">
              <h2 class="mb-3 title"><a href="javascript:void(0);">HBO and Netflix lead this year’s nominations</a></h2>
              <p class="card-text">Quisque et tincidunt ex, ut mollis ante. Vestibulum vulputate eget nulla sed tincidunt. Nam euismod sem...</p>
              <div class="card-footer px-0">
                 <div class="d-flex justify-content-between">
                    <a href="javascript:void(0);" class="d-flex align-content-start text-muted">
                       <i class="fa fa-user-circle-o mr-2 font-lg"></i>
                       <span class="font-sm"> Admin</span>
                    </a>
                    <a href="javascript:void(0);" class="d-flex align-content-end text-muted">
                       <i class="fa fa-calendar-o mr-2 font-lg"></i>
                       <span class="font-sm">Jul 16, 2017</span>
                    </a>
                 </div>
              </div>
           </div>
        </div> <!-- Card closed -->
        <div class="card border-rad text-white mb-3">
           <img class="card-img w-100" src="assets/img/portfolio-4.png" alt="Card image" height="439" width="370">
           <div class="card-img-overlay black-tp-layer border-rad">
              <h2 class="mb-3"><a href="javascript:void(0);" class="text-white">HBO and Netflix lead this year’s nominations</a></h2>
              <span class="mr-3">
                 <i class="fa fa-user-circle-o mr-2 font-lg"></i>
                 <span class="font-sm"> Admin</span>
              </span>
              <span>
                 <i class="fa fa-calendar-o mr-2 font-lg"></i>
                 <span class="font-sm">Jul 16, 2017</span>
              </span>
           </div>
        </div><!-- Card closed -->
        <div class="card bg-success text-center border-rad mb-3">
           <div class="card-body p-3">
              <span class="d-block mb-3"><i class="fa fa-quote-left"></i></span>
              <p class="mb-3 font-lg">Do you know what one of the key secrets of success is – what makes people successful in business, sport or any other</p>
              <hr>
              <div class="d-flex justify-content-between">
                 <a href="javascript:void(0);" class="d-flex align-content-start text-white">
                    <i class="fa fa-user-circle-o mr-2 font-lg"></i>
                    <span class="font-sm"> Admin</span>
                 </a>
                 <a href="javascript:void(0);" class="d-flex align-content-end text-white">
                    <i class="fa fa-calendar-o mr-2 font-lg"></i>
                    <span class="font-sm">Jul 16, 2017</span>
                 </a>
              </div>
           </div>
        </div>
        <div class="card border-rad text-white mb-3">
            <img class="card-img w-100" src="assets/img/blog-thumb-6.jpg" alt="Card image" height="350" width="370">
            <div class="card-img-overlay black-tp-layer border-rad">
                <h2 class="mb-3"><a href="javascript:void(0);" class="text-white">HBO and Netflix lead this year’s nominations</a></h2>
                <span class="mr-3">
                    <i class="fa fa-user-circle-o mr-2 font-lg"></i>
                    <span class="font-sm"> Admin</span>
                </span>
                <span>
                    <i class="fa fa-calendar-o mr-2 font-lg"></i>
                    <span class="font-sm">Jul 16, 2017</span>
                </span>
            </div>
        </div><!-- Card closed -->
        <div class="card bg-warning text-center border-rad mb-3">
           <div class="card-body p-3">
              <span class="d-block mb-3"><i class="fa fa-quote-left"></i></span>
              <p class="mb-3 font-lg">Do you know what one of the key secrets of success is – what makes people successful in business, sport or any other</p>
              <hr>
              <div class="d-flex justify-content-between">
                 <a href="javascript:void(0);" class="d-flex align-content-start text-white">
                    <i class="fa fa-user-circle-o mr-2 font-lg"></i>
                    <span class="font-sm"> Admin</span>
                 </a>
                 <a href="javascript:void(0);" class="d-flex align-content-end text-white">
                    <i class="fa fa-calendar-o mr-2 font-lg"></i>
                    <span class="font-sm">Jul 16, 2017</span>
                 </a>
              </div>
           </div>
        </div><!-- Card closed -->
        <div class="card border-0 border-rad mb-3">
           <img class="border-rad-top img-fluid w-100" src="assets/img/blog-thumb-4.jpg" alt="Card image cap" width="370" height="352" />
           <div class="card-body border-rad-bottom">
              <h2 class="mb-3 title"><a href="javascript:void(0);">HBO and Netflix lead this year’s nominations</a></h2>
              <p class="card-text">Quisque et tincidunt ex, ut mollis ante. Vestibulum vulputate eget nulla sed tincidunt. Nam euismod sem...</p>
              <div class="card-footer px-0">
                 <div class="d-flex justify-content-between">
                    <a href="javascript:void(0);" class="d-flex align-content-start text-muted">
                       <i class="fa fa-user-circle-o mr-2 font-lg"></i>
                       <span class="font-sm"> Admin</span>
                    </a>
                    <a href="javascript:void(0);" class="d-flex align-content-end text-muted">
                       <i class="fa fa-calendar-o mr-2 font-lg"></i>
                       <span class="font-sm">Jul 16, 2017</span>
                    </a>
                 </div>
              </div>
           </div>
        </div>
        <div class="card border-0 border-rad mb-3">
           <img class="border-rad-top img-fluid w-100" src="assets/img/blog-thumb-3.jpg" alt="Card image cap" width="370" height="250" />
           <div class="card-body border-rad-bottom">
              <h2 class="mb-3 title"><a href="javascript:void(0);">HBO and Netflix lead this year’s nominations</a></h2>
              <p class="card-text">Quisque et tincidunt ex, ut mollis ante. Vestibulum vulputate eget nulla sed tincidunt. Nam euismod sem...</p>
              <div class="card-footer px-0">
                 <div class="d-flex justify-content-between">
                    <a href="javascript:void(0);" class="d-flex align-content-start text-muted">
                       <i class="fa fa-user-circle-o mr-2 font-lg"></i>
                       <span class="font-sm"> Admin</span>
                    </a>
                    <a href="javascript:void(0);" class="d-flex align-content-end text-muted">
                       <i class="fa fa-calendar-o mr-2 font-lg"></i>
                       <span class="font-sm">Jul 16, 2017</span>
                    </a>
                 </div>
              </div>
           </div>
        </div><!-- Card closed -->
        <div class="card border-0 border-rad mb-3">
           <img class="border-rad-top img-fluid w-100" src="assets/img/blog-thumb-5.jpg" alt="Card image cap" width="370" height="250" />
           <div class="card-body border-rad-bottom">
              <h2 class="mb-3 title"><a href="javascript:void(0);">HBO and Netflix lead this year’s nominations</a></h2>
              <p class="card-text">Quisque et tincidunt ex, ut mollis ante. Vestibulum vulputate eget nulla sed tincidunt. Nam euismod sem...</p>
              <div class="card-footer px-0">
                 <div class="d-flex justify-content-between">
                    <a href="javascript:void(0);" class="d-flex align-content-start">
                       <i class="fa fa-user-circle-o mr-2 font-lg"></i>
                       <span class="font-sm"> Admin</span>
                    </a>
                    <a href="javascript:void(0);" class="d-flex align-content-end">
                       <i class="fa fa-calendar-o mr-2 font-lg"></i>
                       <span class="font-sm">Jul 16, 2017</span>
                    </a>
                 </div>
              </div>
           </div>
        </div><!-- Card closed -->
        <div class="card border-rad text-white mb-3">
           <img class="card-img w-100" src="assets/img/blog-thumb-2.jpg" alt="Card image" height="350" width="370">
           <div class="card-img-overlay black-tp-layer border-rad">
              <h2 class="mb-3"><a href="javascript:void(0);" class="text-white">HBO and Netflix lead this year’s nominations</a></h2>
              <span class="mr-3">
                 <i class="fa fa-user-circle-o mr-2 font-lg"></i>
                 <span class="font-sm"> Admin</span>
              </span>
              <span>
                 <i class="fa fa-calendar-o mr-2 font-lg"></i>
                 <span class="font-sm">Jul 16, 2017</span>
              </span>
           </div>
        </div><!-- Card closed -->
    </div>
  </div>
</div><!-- Blog masonary wrapper closed -->
<!-- Load More -->
<div class="load-more p-4 text-center">
   <div class="container">
      <a href="javascript:void(0)" class="text-muted font-lg"> <i class="fa fa-refresh mr-3 fa-spin"></i>LOAD MORE </a>
   </div>
</div>