<div *ngIf="router?.url != '/sign-up' && router?.url != '/login' && router?.url != '/thank-you' && router?.url != '/not-found' && router?.url != '/maintenance'">
   <!-- Footer section 2 -->
   <!--<div *ngIf="router?.url != '/home'" chankya-subscribe [subscribeFormClasses]="subscribeFormClasses"></div>-->
   <div class="footer-wrapper-2 py-4">
      <div class="container container-full-width">
         <div class="row">
           <div class="col-sm-12 col-md-1 col-lg-1">
             <img src="assets/img/oodak-icon.png" alt="Fuelic" class="" height="48">
           </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
               <div class="bottom-footer mb-2">
                  <ul class="list-inline mb-0"  *ngIf="footer2Menu">
                     <li class="list-inline-item" *ngFor="let menu of footer2Menu">
                        <a [routerLink]="['/', menu.state]" routerLinkActive="active-link" *ngIf="menu.type === 'link'">
                           <span>{{ menu?.name }}</span>
                        </a>
                     </li>
                  </ul>
               </div>
               <span class="text-muted">&copy; 2018, All right reserved </span>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
               <div class="social-without-bg text-right">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="https://www.facebook.com/Fuelic-192504154989231" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/company/oodaksecurity" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                     <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCALPHW7_AM_V2tcom7E5EfA" target="_blank"><i class="fa fa-youtube"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div><!-- container closed -->
   </div><!-- Footer wrapper closed -->

</div>
