<!-- Posts grid -->
<div class="col-sm-12 col-md-12 col-xl-4 mb-5" *ngFor="let content of postGridContent ? postGridContent.slice(0,3):[]">
	<div class="card border-0 border-rad m-0">
     <a href="#" [routerLink]="['/',content?.link]"><img class="border-rad-top img-fluid w-100" [src] ="content?.image_path" alt="Card image cap" width="370" height="253" /></a>
		<div class="card-body border-rad-bottom">
			<h2 class="card-title mb-3"><a [routerLink]="['/',content?.link]">{{content?.title}}</a></h2>
			<p class="card-text">{{content?.short_desc}}</p>
      <a [routerLink]="['/', content.link]" routerLinkActive="active-link" class="text-uppercase btn btn-outline-warning btn-sm">
         KNOW MORE
      </a>
		</div>
	</div>
</div>

