<div class="feature-wrapper">
    <div class="feature-slide py-5">
        <div class="container" *ngIf="rfidContent?.rfid_summary">
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                    <img [src] ="rfidContent?.rfid_summary?.image_path" width="367" height="367" class="img-fluid w-100" alt="feature images" />
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="feature-slide-content pt-3">
                        <h2 class="font-2x mb-4">{{rfidContent?.rfid_summary?.heading}}</h2>
                        <p class="mb-4 font-lg">{{rfidContent?.rfid_summary?.sub_heading}}</p>
                        <ul class="list-unstyled">
                            <li class="font-sm text-muted mb-3" *ngFor= "let parkingList of rfidContent?.rfid_summary?.list">
                                <i class="{{parkingList?.icon}} mr-3"></i>
                                {{parkingList?.content}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- parking slide section -->
</div>
<!-- Service grid -->
<div class="service py-5 bg-light">
  <div class="container">
    <div class="row" *ngIf="rfidContent">
      <div class="col-sm-12 col-md-3 col-xl-3 mb-5" *ngFor="let content of rfidContent.rfid_detail">
        <div class="info-card text-center">
          <div class="icon-wrap mb-3 {{content?.icon?.color}}">
            <i class="{{content?.icon?.name}} font-4x"></i>
          </div>
          <h2 class="mb-4 info-title">{{content?.title}}</h2>
          <p class="mb-3 text-justify">{{content?.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
