<!-- Latest Blog Section -->
<div class="blog-wrapper py-5">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 col-md-12 col-lg-8 mb-3">
            <div *ngFor="let sideBar of blogSidebar">
               <div class="blog-wrap mb-4">
                  <div class="overlay-wrap mb-4">
                     <img [src]="sideBar?.image_path" width="765" height="320" class="img-fluid" />
                     <div class="card-img-overlay primary-tp-layer pos-center text-center">
                        <div class="center-holder">
                           <a routerLink="/blog-detail" class="ih-fade-right"><i class="fa fa-arrow-right fa-3x fa-inverse"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="blog-content">
                     <h2 class="mb-3 title"><a routerLink="/blog-detail">{{sideBar?.heading}}</a></h2>
                     <div class="blog-meta mb-3">
                        <a href="javascript:void(0);" class="mr-3 text-muted">
                           <i class="fa {{sideBar?.user_icon}} mr-2 font-lg"></i>
                           <span class="font-sm"> {{sideBar?.user_name}}</span>
                        </a>
                        <a href="javascript:void(0);" class="text-muted">
                           <i class="fa fa-calendar-o mr-2 font-lg"></i>
                           <span class="font-sm">{{sideBar?.date*1000 | date }}</span>
                        </a>
                     </div>
                     <div class="blog-categories mb-3">
                       <p class="mb-0 d-inline-block mr-2">Categories:</p>
                       <div class="categories-tag d-inline-block">
                           <a href="javascript:void(0);">Education</a>
                           <a href="javascript:void(0);">Fashion</a>
                           <a href="javascript:void(0);">Uncategorized</a>
                       </div>
                     </div>
                     <p class="mb-3">{{sideBar?.content}}</p>
                     <a routerLink="/blog-detail" class="{{sideBar?.read_more_bgcolor}}  btn btn-outline-secondary btn-sm btn-chk-dark"> READ MORE </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="blog-sidebar">
               <div class="card border-rad mb-4">
                  <div class="py-4 px-3">
                     <h4 class="mb-3"> Search </h4>
                     <chankya-searchNow></chankya-searchNow>
                  </div>
               </div>
               <chankya-categoriesList [categories]="categories"></chankya-categoriesList>
               <chankya-popularPosts [popularPosts]="popularPosts"></chankya-popularPosts>
               <chankya-instagramGallary [InstagramImages]="instagramGallary"></chankya-instagramGallary>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Load More -->
<div class="load-more p-4 text-center">
   <div class="container">
      <a href="javascript:void(0)" class="text-muted font-lg"> <i class="fa fa-refresh mr-3 fa-spin"></i>LOAD MORE </a>
   </div>
</div>

