<div class="row">
  <div class="col-sm-12 col-md-10 mx-auto">
    <div class="chk-full-block" class="border0px">
      <div class="chk-block-content">
        <div class="col-md-4 pull-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder='Search' (keyup)='searchFilter($event)' />
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover" data-filtering="true" data-sorting="true">
            <thead>
              <tr class="bg-success">
                <th data-breakpoints="xs sm md" style="width: 5%;">S.No</th>
                <th data-breakpoints="xs sm md">Name
                  <span clear text-center (click)="toggleName()">
                    <span (click)="sortName(true)">
                      <i class="fa fa-sort-asc" *ngIf="!visible"></i>
                    </span>
                    <span (click)="sortName(false)">
                      <i class="fa fa-sort-desc" *ngIf="visible"></i>
                    </span>
                  </span>
                </th>
                <th data-breakpoints="xs sm md">Address
                  <span clear text-center (click)="toggleAddress()">
                    <span (click)="sortAddress(true)">
                      <i class="fa fa-sort-asc" *ngIf="!visible1"></i>
                    </span>
                    <span (click)="sortAddress(false)">
                      <i class="fa fa-sort-desc" *ngIf="visible1"></i>
                    </span>
                  </span>
                </th>
                <th data-breakpoints="xs sm md">Email</th>
                <th data-breakpoints="xs sm md">Phone/Moblie</th>
                <th data-breakpoints="xs sm md">Contact Name
                  <span clear text-center (click)="toggleContactName()">
                    <span (click)="sortContactName(true)">
                      <i class="fa fa-sort-asc" *ngIf="!visible2"></i>
                    </span>
                    <span (click)="sortContactName(false)">
                      <i class="fa fa-sort-desc" *ngIf="visible2"></i>
                    </span>
                  </span>
                </th>
                <th data-breakpoints="xs sm md" style="width: 9%;">Update</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let location of fleetLocationsCommand; let i = index">
                <td>{{i + 1}}</td>
                <td>{{location.locationName}}</td>
                <td>{{location.addressLine}}</td>
                <td>{{location.contactPersonEmail}}</td>
                <td>{{location.contactPersonMobile}}</td>
                <td>{{location.contactPerson}}</td>
                <td>
                  <span title="Edit Location" class="hand-icon" (click)="updateLocation(location.locationId)">
                    <i class="fa fa-pencil"></i>
                  </span>
                  <span title="Remove Location" style="margin-left: 25px;" class="hand-icon" (click)="removeLocation(location.locationId)">
                    <i class="fa fa-close"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>