<div class="border0px">
  <div class="chk-block-content">
    <div class="table-responsive">
      <table class="table table-striped table-hover" data-filtering="true" data-sorting="true">
        <thead>
          <tr class="footable-filtering">
            <th colspan="6">
              <div class="form-inline">
                <div class="form-group form-inline">
                  <div class="input-group">
                    <select id="selectid" class="form-control" name="status" (change)='searchFilter1($event)'>
                      <option selected disabled hidden style='display: none' value=''>Select Status</option>
                      <option value="">All</option>
                      <option *ngFor="let status of statusArray" [value]="status">{{status}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group footable-filtering-search form-inline">
                  <label class="sr-only">Select Status</label>
                  <div class="input-group">
                    <input type="text" class="form-control" (keydown)="searchFilter()" [(ngModel)]="rosterFilterInput" placeholder='Search' />
                    <div class="input-group-btn open">
                    </div>
                  </div>
                </div>
                <div>
                  <div>
                    <label>Start Date / Time</label>
                    <input class="form-control" id="date-input" type="date" (change)="dateChange()" name="startDate" [(ngModel)]="rosterListRequestCommand.startDate">
                    <input class="form-control" id="date-input" type="time" (change)="dateChange()" name="startTime" [(ngModel)]="rosterListRequestCommand.startTime">
                  </div>
                  <div>
                    <label>End Date / Time</label>
                    <input class="form-control" id="date-input" type="date" (change)="dateChange()" name="endDate" [(ngModel)]="rosterListRequestCommand.endDate">
                    <input class="form-control" id="date-input" type="time" (change)="dateChange()" name="endTime" [(ngModel)]="rosterListRequestCommand.endTime">
                  </div>
                  <!-- <div>
                    <select class="form-control" name="occurrence" #occurrence="ngModel" [(ngModel)]="rosterListRequestCommand.occurrence">
                      <option selected disabled hidden style='display: none' value=''>Select Occurrence</option>
                      <option *ngFor="let type of occourencesArray" [value]="type">{{type}}</option>
                    </select>
                  </div>
                  <div>
                    <select name="selectedDays" #selectedDays="ngModel" [(ngModel)]="rosterListRequestCommand.selectedDays" multiple class="form-control"
                      id="formSelect2">
                      <option *ngFor="let day of selectedDaysArray" [value]="day">{{day}}</option>
                    </select>
                  </div> -->
                  <div>
                    <button class="btn btn-primary btn-lg btn-square" (click)="filterRosterList()" type="submit">Search</button>
                  </div>
                </div>

              </div>
            </th>
          </tr>
          <tr class="bg-success">
            <th data-breakpoints="xs sm md" style="width: 6%;">S.No</th>
            <th data-breakpoints="xs sm md" class="sorting">Driver Name
              <span clear text-center (click)="toggleDriverName()">
                <span (click)="sortDriverName(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible2"></i>
                </span>
                <span (click)="sortDriverName(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible2"></i>
                </span>
              </span>
            </th>
            <th data-breakpoints="xs sm md" class="sorting">Vehicle Number
              <span clear text-center (click)="toggleVehicleNumber()">
                <span (click)="sortVehicleNumber(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible"></i>
                </span>
                <span (click)="sortVehicleNumber(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible"></i>
                </span>
              </span>
            </th>
            <th data-breakpoints="xs sm md" class="sorting">Summary</th>
            <th data-breakpoints="xs sm md">Status
              <span clear text-center (click)="toggleStatus()">
                <span (click)="sortStatus(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible1"></i>
                </span>
                <span (click)="sortStatus(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible1"></i>
                </span>
              </span>
            </th>

            <th data-breakpoints="xs sm md" style="width: 9%;">Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roster of rosterList; let i = index">
            <td>{{i + 1}}</td>
            <td>{{roster.userName}}</td>
            <td>{{roster.vehicleRegistration}}</td>
            <td>{{roster.summary}}</td>
            <td>{{roster.rosterStatus}}</td>
            <td>
              <span class="hand-icon" (click)="updateRoster(roster.rosterId)">
                <i class="fa fa-pencil"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
