<!-- Blog Section -->
<div class="blog-wrapper py-5">
   <div class="container">
      <div class="blog-alternate mb-4" *ngFor="let noSideBar of blogNoSidebar">
         <div class="row">
            <div class="col-sm-12 col-md-6">
               <div class="overlay-wrap">
                  <img [src]="noSideBar?.image_path" width="370" height="300" class="img-fluid w-100 border-rad" />
                  <div class="card-img-overlay primary-tp-layer pos-center text-center">
                     <div class="center-holder">
                        <a href="javascript:void(0)" class="ih-fade-right"><i class="fa fa-arrow-right fa-3x fa-inverse"></i></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-12 col-md-6">
               <div class="blog-content py-4">
                  <h2 class="mb-3 title"><a href="javascript:void(0);">{{noSideBar?.heading}}</a></h2>
                  <div class="blog-meta mb-2">
                     <a href="javascript:void(0);" class="mr-3 text-muted">
                        <i class="fa {{noSideBar?.user_icon}} mr-2 font-lg"></i>
                        <span class="font-sm"> {{noSideBar?.user_name}}</span>
                     </a>
                     <a href="javascript:void(0);" class="text-muted">
                        <i class="fa fa-calendar-o mr-2 font-lg"></i>
                        <span class="font-sm">{{noSideBar?.date*1000 | date }}</span>
                     </a>
                  </div>
                  <p class="mb-3">{{noSideBar?.content}}</p>
                  <a href="javascript:void(0);" class="{{noSideBar?.read_more_bgcolor}}  btn btn-outline-secondary btn-sm btn-chk-dark"> READ MORE </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="load-more p-4 text-center">
   <div class="container">
      <a href="javascript:void(0)" class="text-muted font-lg"> <i class="fa fa-refresh mr-3 fa-spin"></i>LOAD MORE </a>
   </div>
</div>