<!-- Thankyou Layout -->
<div class="session-wrapper">
	<div class="container container-full-width">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
				<div class="card text-white border-rad shadow-md border-0">
					<img class="card-img img-fluid" src="assets/img/thankyou.png" alt="Card image" width="600" height="300" />
					<div class="card-img-overlay border-rad">
						<div class="text-center">
							<h2 class="ty-card-title fw-200">Thank you!</h2>
						</div>
					</div>
				</div>
				<div class="card border-0 border-rad card-shadow p-4 text-center w-65 mx-auto card-hover">
					<h2 class="font-2x mb-4">For every thing you had done with Chankya</h2>
					<p class="text-muted font-sm border-style">Spread The Word</p>
					<div class="social-without-bg mb-4">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<a href="javascript:void(0)" class="btn btn-primary btn-block submit-btn btn-lg">Buy Chankya Theme</a>
				</div>
			</div>
		</div>
	</div><!-- container closed -->
</div><!-- session Wrapper closed -->