<div class="loginone-wrapper">
    <pap-ms-progress-bar [showProgressBar]="showProgressBar"></pap-ms-progress-bar>
    <!-- <div *ngIf="showProgressBar" class="progress progress2">
        <div class="progress-bar progress-gradient-green gradient-animate" role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100" style="width: 100%;">
        </div>
    </div> -->
    <div class="login-form-wrapper-2">
        <div class="login-banner pos-relative"></div>
        <div class="login-content text-center">
            <div class="login-inner-wrapper-2">
                <div class="mb-2">
                    <span class="square-100">
                        <img class="img-fluid" src="/assets/img/favicon.png" alt="Fuelic" width="50">
                    </span>
                </div>
                <div class="mb-3">
                    <p class="text-primary">Manage Fleet with Fuelic</p>
                    <h2 class="text-muted">Sign-in to your account</h2>
                </div>
                <div *ngIf="responseFail === true" class="alert bg-danger alert-dismissible fade show" role="alert">
                    <strong></strong> {{responseMessage}}
                </div>
                <div *ngIf="responseSuccess === true" class="alert bg-success alert-dismissible fade show" role="alert">
                    <strong></strong> {{responseMessage}}
                </div>
                <form (keydown.enter)="login(loginForm)" class="login-form" #loginForm="ngForm">
                    <div class="form-group">
                        <input type="email" [(ngModel)]="loginCommand.email" id="email" name="email" #email="ngModel" class="form-control form-control-lg input-square"
                            placeholder="Email Address" (keypress)="removeError()" required email>
                        <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)">
                            <small *ngIf="email.errors?.required" class="chankya-block" class="text-danger">
                                Email is required
                            </small>
                            <small *ngIf="email.errors?.email && !email.errors?.required" class="chankya-block" class="text-danger">
                                Email is invalid
                            </small>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <input [type]="showPassword === true ? 'text' : 'password'" name="password" id="password" #password="ngModel" [(ngModel)]="loginCommand.password"
                            class="form-control form-control-lg input-square" placeholder="Password" minlength="6" (keypress)="removeError()"
                            required>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <!-- <small *ngIf="password.errors?.required" class="chankya-block" class="text-danger">
                                Password is required
                            </small>
                            <small *ngIf="password.errors?.minlength && !password.errors?.required" class="chankya-block" class="text-danger">
                                Password should be of minmum 6 characters
                            </small> -->
                        </div>
                    </div>
                    <div class="login-meta mb-3">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 d-flex">
                                    <input class="custom-control-input" name="rememberMe" [(ngModel)]="rememberMe" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Remember Me</span>
                                </label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 d-flex">
                                    <input class="custom-control-input" [(ngModel)]="showPassword" name="showPassword" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Show password</span>
                                </label>
                            </div>
                        </div>
                        <div class="row marTop15">
                            <div class="col-xs-6 col-sm-6 col-md-6 text-left">
                                <a routerLink="/forgot-password" class="text-muted">Forgot Password?</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" (click)="login(loginForm)" class="btn btn-primary btn-block btn-lg">Sign In</button>
                    </div>
                    <div class="mb-3">
                        <a routerLink="/register" class="text-muted">Not registered yet? Sign-up here for a free account</a>
                    </div>
                    <!-- <div *ngIf="responseFail === true" class="alert bg-danger alert-dismissible fade show" role="alert">
                        <strong></strong> {{responseMessage}}
                    </div>
                    <div *ngIf="responseSuccess === true" class="alert bg-success alert-dismissible fade show" role="alert">
                        <strong></strong> {{responseMessage}}
                    </div> -->
                </form>
                <!-- login form closed -->
            </div>
            <!-- login inner wrapper closed -->
        </div>
        <!-- login content closed -->
    </div>
    <!-- login form wrapper closed -->
</div>
<!-- login-one- wrapper closed -->
