<div class="login-wrapper">
    <pap-ms-progress-bar [showProgressBar]="showProgressBar"></pap-ms-progress-bar>
    <div class="login-form-wrapper">
      <div class="bg-container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-8 col-xl-5 mx-auto">
                <div class="login-block text-center">
                    <div class="login-icon mb-4">
                        <span class="square-100 fa-notify">
                            <img class="img-fluid" src="/assets/img/favicon.png" alt="Fuelic" width="50">
                        </span>
                    </div>
                    <div class="mb-3">
                        <p class="text-primary">Welcome To Fuelic</p>
                        <h2 class="text-muted">Register with Us</h2>
                    </div>
                    <div *ngIf="responseFail === true" class="alert bg-danger alert-dismissible fade show" role="alert">
                        <strong></strong> {{responseMessage}}
                    </div>
                    <div *ngIf="responseSuccess === true" class="alert bg-success alert-dismissible fade show" role="alert">
                        <strong></strong> {{responseMessage}}
                    </div>
                    <form (keydown.enter)="register(registerForm)" class="login-form" #registerForm="ngForm">
                        <div class="form-group">
                            <input name="firstName" #firstName="ngModel" [(ngModel)]="userRegisterCommand.firstName" class="form-control form-control-lg input-square"
                                type="text" placeholder="First Name" (keypress)="removeError()" required>
                            <div *ngIf="(showError && userRegisterCommand.firstName === null) || (firstName.invalid && (firstName.dirty || firstName.touched))">
                                <small *ngIf="firstName.errors?.required" class="chankya-block" class="text-danger">
                                    Please enter First Name
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <input name="lastName" #lastName="ngModel" [(ngModel)]="userRegisterCommand.lastName" class="form-control form-control-lg input-square"
                                type="text" placeholder="Last Name" (keypress)="removeError()" required>
                            <div *ngIf="(showError && userRegisterCommand.lastName === null) || (lastName.invalid && (lastName.dirty || lastName.touched))">
                                <small *ngIf="lastName.errors?.required" class="chankya-block" class="text-danger">
                                    Please enter Last Name
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <input name="businessName" #businessName="ngModel" [(ngModel)]="userRegisterCommand.businessName" class="form-control form-control-lg input-square"
                                type="text" placeholder="Business Name" (keypress)="removeError()" required>
                            <div *ngIf="(showError && userRegisterCommand.businessName === null) || (businessName.invalid && (businessName.dirty || businessName.touched))">
                                <small *ngIf="businessName.errors?.required" class="chankya-block" class="text-danger">
                                    Please enter Business Name
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <input name="mobileNumber" #mobileNumber="ngModel" [(ngModel)]="userRegisterCommand.mobileNumber" class="form-control form-control-lg input-square"
                                type="text" placeholder="Contact Number" (keypress)="utils.inputFieldCheck.isPureNumeric($event)"
                                required>
                            <div *ngIf="(showError && userRegisterCommand.mobileNumber === null) || (mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched))">
                                <small *ngIf="mobileNumber.errors?.required" class="chankya-block" class="text-danger">
                                    Please enter Contact Number
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" [(ngModel)]="userRegisterCommand.email" id="email" name="email" #email="ngModel" class="form-control form-control-lg input-square"
                                placeholder="Email Address" (keypress)="removeError()" required email>
                            <div *ngIf="(showError && userRegisterCommand.email === null) || (email.invalid && (email.dirty || email.touched))">
                                <small *ngIf="email.errors?.email && !email.errors?.required" class="chankya-block" class="text-danger">
                                    Email Address is invalid
                                </small>
                                <small *ngIf="email.errors?.required" class="chankya-block" class="text-danger">
                                    Please enter Email Adderss
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" id="password" #password="ngModel" [(ngModel)]="userRegisterCommand.password" class="form-control form-control-lg input-square"
                                placeholder="Password" minlength="6" (keypress)="removeError()" required>
                            <div *ngIf="(showError && userRegisterCommand.password === null) || (password.invalid && (password.dirty || password.touched))">
                                <small *ngIf="password.errors?.required" class="chankya-block" class="text-danger">
                                    Please enter Password
                                </small>
                                <small *ngIf="password.errors?.minlength" class="chankya-block" class="text-danger">
                                    Password should be of minmum 6 characters
                                </small>
                            </div>
                        </div>
                        <div class="login-meta mb-3">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 d-flex">
                                        <input class="custom-control-input" name="rememberMe" [(ngModel)]="rememberMe" type="checkbox">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Remember Me</span>
                                    </label>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                    <a routerLink="/forgot-password" class="text-muted">Forgot Password?</a>
                                </div>
                            </div>
                        </div>
                        <!-- login meta closed -->
                        <div class="mb-3">
                            <button type="submit" (click)="register(registerForm)" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                        </div>
                        <span>Already have an account?
                            <a routerLink="/login" class="text-muted">Sign in here!</a>
                        </span><br>
                      <span>By signing up, you agree to the <a href="http://fuelic.com/terms-conditions" target="_blank" class="text-muted">Terms of Service</a> and <a href="http://fuelic.com/privacy-policy" target="_blank" class="text-muted">Privacy Policy</a></span>
                    </form>
                    <!-- Login Form closed -->
                </div>
                <!-- login block closed -->
            </div>
        </div>
      </div>
    </div>
    <!-- Login form wrapper closed -->
</div>
<!-- login wrapper closed -->
