<!-- Product List wrapper -->
<div class="product-wrapper py-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-8 mb-3">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let product of productsList">
						<div class="card border-0 mb-4">
							<div class="overlay-wrap mb-3 card-shadow border-rad">
								<img class="img-fluid border-rad w-100" [src]="product.image" alt="Card image cap" width="280" height="260" />
								<div class="cart-icon">
									<ul class="list-unstyled">
										<li>
											<a routerLink="/product-detail" class="square-40 bg-white rounded-circle text-dark mb-2 card-shadow">
												<i class="fa fa-heart text-danger"></i>
											</a>
										</li>
										<li>
											<a routerLink="/product-detail" class="square-40 bg-white rounded-circle text-dark card-shadow">
												<i class="fa fa-search"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="card-body p-0">
								<h2 class="text-capitalize mb-3">{{product.title}}</h2>
								<p>{{product.description}}</p>
								<p class="text-danger">{{product.price | currency: 'USD' : true}}</p>
								<a routerLink="/product-cart" class="btn btn-outline-secondary btn-block">Add To Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-4">
	            <div class="blog-sidebar">
	               <div class="card border-rad mb-4">
	                  <div class="py-4 px-3">
	                     <h4 class="mb-3"> Search </h4>
	                     <chankya-searchNow></chankya-searchNow>
	                  </div>
	               </div>
	               <chankya-categoriesList [categories]="categories"></chankya-categoriesList>
	               <chankya-popularPosts [popularPosts]="popularPosts"></chankya-popularPosts>
	            </div>
	         </div>
		</div>
	</div><!-- container closed -->
</div><!-- product wrapper closed -->
<!-- Load More -->
<div class="load-more p-4 text-center">
   <div class="container">
      <a href="javascript:void(0)" class="text-muted font-lg"> <i class="fa fa-refresh mr-3 fa-spin"></i>LOAD MORE </a>
   </div>
</div>