<div class="our-mission py-5">
  <div class="container">
    <div class="blog-alternate mb-4">
      <div class="row mb-5">
        <div class="col-sm-12 col-md-12">
          <p>THESE TERMS OF SERVICE ARE THE LEGALLY BINDING CONTRACT BETWEEN YOU AND TheAvancer Consultancy Services Pty Ltd., AND GOVERN YOUR ACCESS TO ANY SERVICES WE PROVIDE TO YOU. PLEASE READ THESES TERMS CAREFULLY BEFORE SIGNING UP FOR OR USING THE SERVICES.</p>

          <p>TheAvancer Consultancy Services Pty Ltd. (&ldquo;we&rdquo;, &ldquo;us&rdquo;, or &ldquo;our&rdquo;) provide services (&ldquo;Service&rdquo;) to you (&ldquo;you&rdquo; or &ldquo;your&rdquo;) through our websites and through our apps. By using the Service, you are agreeing to be bound by these terms and conditions (&ldquo;Terms of Service&rdquo;). We reserve the right to update and change the Terms of Service from time to time and will provide notice to you by changing the &ldquo;last updated&rdquo; date above. All changes are prospective only. It is your obligation to be familiar with the most current version of the Terms of Service. Continued use of the Service after any such changes shall constitute your acknowledgment of and consent to such changes. You can review the most current version of the <a routerLink="/terms-conditions">Terms of services</a> at any time. Any new features, including the release of new tools and resources, shall be subject to the then-most current Terms of Service.</p>

          <p>You represent and warrant that you have the full right and power to enter into and fully perform this agreement in accordance with these Terms of Service. If you are using the Service on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms of Service and, in such event, &ldquo;You&rdquo; will refer and apply to that company or other legal entity.</p>


          <h3>INTRODUCTION / GENERAL</h3>

          <ol>
            <li>
              <p>The terms and conditions set out or referred to below (the Terms) apply to the services provided on the Oodak/Fuelic app now and in the future for use in Australia (Services). By downloading or browsing or using or setting up your account on the mobile application “Fuelic”, provided by the TheAvancer Consultancy Services Pty. Ltd. T/A Oodak/Fuelic ABN (“Fuelic”), you confirm that you have read, understood and agree to be bound by these terms. If you do not agree to these terms, you must not access, or must stop accessing the Oodak/Fuelic App.</p>
            </li>
            <li>
              <p>Oodak/Fuelic reserves the sole discretion to update, modify and replace any or all of these terms and conditions from time to time. The updated version will be posted at its URL. Oodak/Fuelic will make commercially reasonable effort to notify you of such revisions using the email address provided by you at the time of registering. However, it is your responsibility for checking the ‘About’ section of the Apps (or any other such section where these terms are located). Your continued use of, or access to the apps and /or services following posting of the changes to theses terms and conditions will be deemed to constitute acceptance of those changes. If you do not agree to any update of these terms, you must immediately stop using and accessing the apps and services.</p>
            </li>
            <li>
              <p>Use of some services is subject to our approval, at our discretion, and may only be available to eligible customers.</p>
            </li>
            <li>
              <p>There will be new and/or updated products and services offered to you within the Oodak/Fuelic app. We will notify you of these products and services once they become available. Use of these products or services shall constitute your consent to the terms and conditions.</p>
            </li>
            <li>
              <p>Any offer made by Oodak/Fuelic is limited to the duration advertised or in the absence of such time or in the event of any error or omission shall be valid for 24 hours from when it first appeared unless Oodak/Fuelic in its sole discretion decides to change the extent or duration of any offer.</p>
            </li>
            <li>
              <p>The definition of “The client” at all times is the individual and/or organization that requested apps from Fuelic.</p>
            </li>
            <li>
              <p>It is the responsibility of the client to maintain the security of their online account and password.</p>
            </li>
         </ol>

         <h3>REGISTRATION, SETTING UP & USING YOUR Oodak/Fuelic ACCOUNT</h3>

          <ol>
            <li>
              <p>To access and use any app, you must:</p>
              <ol>
              <p>(i) Create and register account with Fuelic; and</p>
              <p>(ii) You must have an internet-enabled eligible mobile device which is connected to the internet and supports download and use of Oodak/Fuelic app.</p>
              </ol>
            </li>
            <li>
              <p>In order to register for an account, you need to provide your full name, contact number, valid email address and payment credentials (which may include credit card details). It is your responsibility to ensure that all the information that you provide when you create a Oodak/Fuelic account and use the Oodak/Fuelic app is accurate and not misleading. The payment credentials provided will be linked to your registered account.</p>
            </li>
            <li>
              <p>You may incur charges from your mobile phone network provider for downloading and using the Oodak/Fuelic app and services. You are solely responsible for any such charges.</p>
            </li>
            <li>
              <p>You are responsible for ensuring that:</p>
              <p>(i) You are the only person who is using the Oodak/Fuelic account;</p>
              <p>(ii) You must not authorize anyone else to use your Oodak/Fuelic account;</p>
              <p>(iii) You are the only one logging on to your Oodak/Fuelic account on one device at any time;</p>
              <p>(iv) It is your sole responsibility to keep your account, password and/or PIN secure. You must not keep these details in written or electronic record anywhere. You must not share your account information and password or let anyone else access your account;</p>
              <p>(v) You keep your personal information and account information accurate and up-to-date. For example, your payment credential details should be up-to-date and valid if you are using it to pay for the fuel services or any other services provided by Fuelic.</p>
              <p>(vi) You must notify Oodak/Fuelic immediately, if you become aware of any unauthorized use or suspect that your Oodak/Fuelic account is compromised due to but not limited to the below:</p>
              <ol>
              <p>(a) Mobile being lost or stolen;</p>
              <p>(b) Your password and/or PIN is likely to be known by another person.</p>
              </ol>
              <p>(vii) You will not create more than one account for each app;</p>
              <p>(viii) You will not create an account for anyone other than yourself without the individual and permission from Fuelic;</p>
              <p>(ix) You will not transfer your account to anyone without permission from Fuelic;</p>
            </li>
            <li>
            <p>Oodak/Fuelic is not responsible or under any obligation to check that any instruction or confirmation made through your Oodak/Fuelic account is from you.</p>
            </li>
            <li>
            <p>Cancellation of your account:</p>
            <ol>
            <p>(a) You must notify by email to Oodak/Fuelic in order to cancel your account. Your request to cancel the account will be actioned during the business days.</p>
            <p>(b) Until your account is completely cancelled and notified to the user, Oodak/Fuelic will not be liable if the account is used for a fuel transaction.</p>
            </ol>
            </li>
         </ol>

         <h3>PAY FOR FUEL SERVICES: T&C</h3>

          <ol>
            <li>
              <p>You must have a registered and active Oodak/Fuelic account and payment method must be linked to your account.</p>
            </li>
            <li>
              <p>You must have added eligible and valid payment credentials in the payment method or any other location in Oodak/Fuelic app where you can add your nominated card that is eligible for the pay for fuel services.</p>
            </li>
            <li>
              <p>If you do not have a payment method linked to your account, you will be prompted to choose and link a payment method to your account. Fuel services cannot be used unless payment method is linked to your account.</p>
            </li>
            <li>
              <p>If your payment method is not approved, you will be prompted to input another payment method or to pay for your fuel order in-person at the counter.</p>
            </li>
            <li>
              <p>You may add and delete nominated card and update certain preference associated with your nominated cards in the payment method section of the Oodak/Fuelic app.</p>
            </li>
            <li>
              <p>Each time you loan a nominated card into the Oodak/Fuelic app, you may pre-authorise a temporary hold of $1 against that nominated card. Oodak/Fuelic is not responsibility for this and has no control or influence over this. You should contact your issuer bank if you have any question in relation to this matter.</p>
            </li>
            <li>
              <p>A pre-authorisation hold will be made each time you authorize payment using a nominated card to pay for the fuel. There may be multiple pre-authorisation hold in some cases. For example, if you pre-authorised and cancel the payment authorization, you then proceed with another payment authorization transaction using your nominated card.</p>
            </li>
            <li>
              <p>You must keep your physical nominated card with you at all the times. Pay for Fuel services is not available at all the fuel stations and, at times, you may be asked to confirm to the staff at the participating store. At times, Oodak/Fuelic app may not function due to non-availability or poor Internet provided by your mobile network provider.</p>
            </li>
            <li>
              <p>It is your responsibility to ensure that your credit card is valid. If it is expired or has been reported lost or stolen by you or your bank, then you will not be able to use the Pay for Fuel services using the app. You will be notified in the Oodak/Fuelic app if the nominated card can no longer be used.</p>
            </li>
            <li>
              <p>Oodak/Fuelic does not store details of your nominated cards. Such details are collected, stored and processed by third party payment merchant facilities. You acknowledge and agree that Oodak/Fuelic will not be liable for any loss or damage arising out of any use of a third-party payment gateway. You should read and understand the terms of the third-party merchant facilities before using them.</p>
            </li>
          </ol>

          <h3>USING PAY FOR FUEL</h3>

          <ol>
            <li>
              <p>To use pay for fuel services, you must enable location services to authorize Oodak/Fuelic app to access information about your current location.</p>
            </li>
            <li>
              <p>Using the Oodak/Fuelic app, you must select the intended pump number you are going to fuel from. Once pump number is specified, you must pre-authorize the maximum amount of fuel you are intending to purchase.</p>
            </li>
            <li>
              <p>Once you confirm your fuel order, your nominated payment method will be charged for your fuel. You will receive confirmation of your fuel order to your nominated email address.</p>
            </li>
            <li>
              <p>If amount of fuel taken is less than the maximum pre-authorised amount as per clause 5.2, the remaining balance will be refunded by the issuer bank (which can take upto 7 working days). Oodak/Fuelic has no control on this.</p>
            </li>
            <li>
              <p>If your payment method is not approved, you will be prompted to input another payment method or to pay for your fuel order in person at the location.</p>
            </li>
            <li>
              <p>If a transaction is pre-authorized for the selected amount and is later cancelled or declined or transaction was timed out, the pre-authorized amount will remain on-hold with the issuer bank. Issuer bank can hold the amount from few hours to upto 7 working days, although Oodak/Fuelic has no control over the duration.</p>
            </li>
            <li>
              <p>It is your responsibility to ensure that you select the correct pump number while dispensing the fuel. Oodak/Fuelic has no liability in relation to any error made by you in selecting an incorrect pump.</p>
              <p>Selecting the incorrect pump number:</p>
              <ol>
              <p>(a) If the pump selected by you is incorrect and another person starts dispensing fuel from the same pump within the timeout period, your account will be charged by Fuelic.</p>
              <p>(b) In such cases, since you might be filling from an incorrect pump, any fuel dispensed for your vehicle will not be charged by Fuelic. You will remain liable for the fuel filled for your vehicle and you must go into the store to pay for the fuel that you have dispensed.</p>
              </ol>
            </li>
            <li>
              <p>Oodak/Fuelic may change the content, functionality of all or any parts of the Oodak/Fuelic app at any time. There may be updates to the Oodak/Fuelic app from time to time. Depending on the update, you may not be able use all or part of the Oodak/Fuelic app.</p>
            </li>
          </ol>

          <h3>Oodak/Fuelic PRIVACY COLLECTION NOTICE</h3>

          <h3>INTELLECTUAL PROPERTY RIGHTS</h3>

          <ol>
            <li>
              <p>You acknowledge and agree that Oodak/Fuelic owns or licenses from third parties all rights, title, interest and other intellectual property rights in the apps and the services.</p>
            </li>
            <li>
              <p>Use of Oodak/Fuelic app in any manner not permitted under the terms, resale, transferable, modification, distribution or sub-licensing of all or part of Oodak/Fuelic app is prohibited.</p>
            </li>
            <li>
              <p>Oodak/Fuelic is not required to provide any support, telephone assistance or enhancement or updates to the Oodak/Fuelic apps.</p>
            </li>
            <li>
              <p>You acknowledge and agree that Oodak/Fuelic is permitted to disclose data and materials to any third party in its sole discretion and make full use of, commercialise and exploit data for those purposes.</p>
            </li>
          </ol>

          <h3>THIRD PARTY CONTECT</h3>

          <ol>
            <li>
              <p>Oodak/Fuelic uses third party application, services, software and advertisements, payment services, location and maps and many more in the Oodak/Fuelic apps.</p>
            </li>
            <li>
              <p>When you use the Oodak/Fuelic App, you are agreeing to Oodak/Fuelic use of such third-party software and services. You are also agreeing to any applicable terms of use, licenses, or privacy policies related to such third-party software and services. It is your responsibility to ensure that you comply with any related third-party terms, including the third-party privacy policies notified to you in Oodak/Fuelic Privacy Policy, and that you are aware of any third-party privacy policies that may apply to you, in conjunction with these terms. A breach of any such terms of use, licenses, or privacy policies will be deemed a breach of these terms.</p>
            </li>
          </ol>

          <h3>TERMINATION</h3>

          <ol>
            <li>
              <p>You can delete the Oodak/Fuelic app from your mobile device at any time.</p>
            </li>
            <li>
              <p>If you want to permanently delete your Oodak/Fuelic account, you must notify Oodak/Fuelic by email. By cancelling your Oodak/Fuelic account, your login details and other information contained within the App will be deleted.</p>
            </li>
            <li>
              <p>If there was a breach of any of the terms of Fuelic, Oodak/Fuelic can suspend or terminate your Oodak/Fuelic account. You are then not permitted to create a new account. Oodak/Fuelic may at any time permanently block an individual from creating a Oodak/Fuelic account.</p>
            </li>
            <li>
              <p>Oodak/Fuelic reserves the right to suspend or immediately terminate the Oodak/Fuelic app, any of the services, any functionality of the Oodak/Fuelic App, or your specific Oodak/Fuelic account, with or without cause or notice, at any time.</p>
            </li>
            <li>
              <p>All provisions of the terms that by their nature should survive termination will survive termination, including, without limitation, ownership provisions, indemnities and limitations of liability.</p>
            </li>
          </ol>

          <h3>ACCOUNT TERMS</h3>

          <ol>
            <li>
              <p>You must be 13 years or older to use this Service.</p>
            </li>
            <li>
              <p>If you are between the ages of 13 and 18 then you must have a parent assist in registering for an account for the Service.</p>
            </li>
            <li>
              <p>You must be a human. Accounts registered by &ldquo;bots&rdquo; or other automated methods are not permitted.</p>
            </li>
            <li>
              <p>You must provide your full legal name, the legal name of your business (where applicable), a valid e-mail address, and any other information requested in order to complete the sign-up process.</p>
            </li>
            <li>
              <p>You are responsible for maintaining the security of your account and password. We cannot and will not be liable for any loss or damage from your failure to comply with this security obligation. You will be solely responsible and liable for any activity that occurs with your account. In the event of any dispute between two or more parties about account ownership, you agree that we will be the sole arbiter of such dispute in our sole discretion and that our decision is final and binding.</p>
            </li>
            <li>
              <p>You can create multiple logins for a single account. However, your login may only be used by one person. A single login shared by multiple people is not permitted.</p>
            </li>
            <li>
              <p>You must not use the Service for any abusive or illegal purposes. You must not violate any laws, rules or regulations in your jurisdiction (including but not limited to copyright laws). You expressly agree and acknowledge that you will not submit information that would be a violation of your (or your employer&rsquo;s, as the case may be) policies, including without limitation, any data protection, privacy or security policies or any data privacy laws, rules or regulations.</p>
            </li>
            <li>
              <p>You may not attempt to modify, translate, adapt, edit, copy, decompile, disassemble, or reverse engineer any software used or provided by us in connection with the Service.</p>
            </li>
            <li>
              <p>The Service is always evolving and the form and nature of the Service may change from time to time. We reserve the right to modify the Service from time to time at any time, including adding or removing features.</p>
            </li>
            <li>
              <p>We reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms of Service, including investigation of potential violations, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect our rights, property or safety as well as those of our users, customers, and the public.</p>
            </li>
            <li>
              <p>You may not do any of the following while accessing or using the Service: (i) access, tamper with, or use non-public areas of the Service, our computer systems, or the technical delivery systems of our providers; (ii) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security measures; (iii) access or search or attempt to access or search the Service by any means (automated or otherwise) other than through our currently available, published interfaces; (iv) in any way use the Service to send altered, deceptive or false information; or (v) otherwise interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Service, or by scripting the creation of content in such a manner as to interfere with or create an undue burden on the Service.</p>
            </li>
          </ol>

          <h3>TERM, BILLING AND PAYMENT</h3>

          <ol>
            <li>
              <p>We may grant you a limited trial period during which you will receive the Service free of charge. Thereafter, you will be charged a recurring service fee in advance of the applicable Service Period.</p>
            </li>
            <li>
              <p>Your account will be renewed automatically at the end of each Service Period until either you or we explicitly cancel the Service.</p>
            </li>
            <li>
              <p>You will be billed a non-refundable fee in advance of your applicable Service Period. There will be no refunds or credits for partial use of service, upgrade/downgrade refunds, account cancellations, or refunds for months unused with an open account. If you have any questions about charges made to your account, please contact us immediately. If the charges were made in error, we will credit your account for the appropriate amount. We have a zero tolerance policy for chargebacks. Any customer who disputes a credit card payment through a card issuer that is found to be valid will be permanently banned from the use of the Service.</p>
            </li>
            <li>
              <p>For any change in your recurring service fee, we will automatically charge your credit card or bank account that you provided or bill you via other payment methods for the new rate on your next billing cycle.</p>
            </li>
            <li>
              <p>You must provide us with accurate billing information and keep this information up to date.</p>
            </li>
            <li>
              <p>By subscribing to the Service you give us the right to charge your credit card, or bill you via other payment methods, for fees connected with the Service such as renewal fees or fees for extra services.</p>
            </li>
            <li>
              <p>We reserve the right to change prices for the Service and any connected extra services at any time upon a 30-day notice from us. Such notice may be provided at any time by posting the changes to the Service itself.</p>
            </li>
            <li>
              <p>You will pay any and all applicable international, federal, state, and local sales, use, value-added, excise, duty, and any other taxes, fees, or duties, not based on our net income, that are assessed on or as a result of the Service. Any such taxes, fees, and duties collected by us from you on behalf of a governmental agency shall not be considered a part of, a deduction from, or an offset against, payments due to us for the Service.</p>
            </li>
          </ol>

          <h3>CANCELLATION AND TERMINATION</h3>

          <ol>
            <li>
              <p>You are solely responsible for properly canceling your account. You can cancel your account at any time through the Account Settings screen or by communicating to <a href="mailto:admin@oodak.com">admin@oodak.com</a></p>
            </li>
            <li>
              <p>All of your information will be immediately deleted from the Service upon cancellation. If you want to preserve your information, you must export your information before canceling your account. Your information cannot be recovered once your account is canceled.</p>
            </li>
            <li>
              <p>Any abuse of the Service will lead to termination of your account. We reserve the right to decide what is considered abuse of the Service. If your account is terminated, your rights to use the Service will cease immediately. Termination is without prejudice to all other remedies available to us by law or under these Terms.</p>
            </li>
            <li>
              <p>All provisions of these Terms of Service relating to disclaimers of warranties, limitation of liability and remedies and damages shall survive termination.</p>
            </li>
          </ol>

          <h3>PRIVACY</h3>

          <p>See our <a routerLink="/privacy-policy">Privacy Policy</a> for information about our collection and use of your personal information. This Privacy Policy is expressly incorporated into these Terms of Service.</p>

          <h3>NO WARRANTIES OR REPRESENTATIONS</h3>

          <p>You understand and agree that the Service is provided &ldquo;AS IS&rdquo; and &ldquo;AS AVAILABLE&rdquo; and we expressly disclaim warranties of any kind, express or implied, including without limitation any warranty of accuracy, merchantability, fitness for a particular purpose, or non-infringement. We make no warranty or representation and disclaim all liability regarding the results that may be obtained from the use of the Service, the correctness or completeness of the data, the security, reliability or availability of the Service, or that the Service will meet any user&rsquo;s requirements. Use of the Service is at your sole risk. You will be solely responsible for any damage to you (including loss of data) resulting from the use of the Service. The entire risk arising out of use, security, or performance of the Service remains with you. You understand that we use third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service. Without limiting the foregoing, the service is not designed or licensed for use in hazardous environments requiring fail-safe controls.</p>

          <p>The above disclaimer applies to any damages, liability or injuries caused by any failure of the performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communication line failure, theft or destruction of or unauthorized access to, alteration of, or use the Service, whether for breach of contract, tort, negligence or any other cause of action.</p>

          <h3>LIMITATIONS OF LIABILITY</h3>

          <p>IN NO EVENT WILL WE OR OUR SUBSIDIARIES, AFFILIATES, SHAREHOLDERS, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS BE LIABLE FOR LOST PROFITS OR ANY OTHER DAMAGES, INCLUDING WITHOUT LIMITATION ANY DIRECT, INDIRECT, CONSEQUENTIAL, SPECIAL, EXEMPLARY, INCIDENTAL, OR PUNITIVE DAMAGES ARISING OUT OF, BASED ON, OR RESULTING FROM THIS CONTRACT OR ARISING FROM OR CONNECTED IN ANY WAY WITH YOUR USE OF OR INABILITY TO USE THE SERVICE, OR FOR ANY CLAIM BY ANY OTHER PARTY, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

          <p>THE EXCLUSION OF DAMAGES UNDER THIS SECTION IS INDEPENDENT OF YOUR EXCLUSIVE REMEDY AND SURVIVES IN THE EVENT SUCH REMEDY FAILS OF ITS ESSENTIAL PURPOSE OR IS OTHERWISE DEEMED UNENFORCEABLE. THESE LIMITATIONS AND EXCLUSIONS APPLY WITHOUT REGARD TO WHETHER THE DAMAGES ARISE FROM (1) BREACH OF CONTRACT, (2) BREACH OF WARRANTY, (3) NEGLIGENCE, OR (4) ANY OTHER CAUSE OF ACTION, TO THE EXTENT SUCH EXCLUSION AND LIMITATIONS ARE NOT PROHIBITED BY APPLICABLE LAW.</p>

          <p>IF YOU ARE DISSATISFIED WITH THE SERVICE, YOU DO NOT AGREE WITH ANY PART OF THIS CONTRACT, OR YOU HAVE ANY OTHER DISPUTE OR CLAIM WITH OR AGAINST US WITH RESPECT TO THIS CONTRACT OR THE SERVICE, THEN YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SERVICE. THIS LIMITATION OF RELIEF IS A PART OF THE BARGAIN BETWEEN THE PARTIES.</p>

          <p>In the event that, notwithstanding the foregoing disclaimers and indemnification, we are found responsible to you for any reason whatsoever, our responsibility shall be limited to the amounts actually paid by you for the Service during the twelve (12) months immediately preceding such event, and shall not include punitive damages or consequential or resulting damages of any nature.</p>

          <h3>INTELLECTUAL PROPERTY</h3>

          <p>All information that you post to the Service must comply with applicable copyright laws. We claim no intellectual property rights over the material you provide to the Service when such material is tagged with personally identifiable information. We may share aggregated information that does not include personally identifiable information and we may otherwise disclose non-identifying information with third parties for industry analysis, demographic profiling, and other purposes. Any aggregated information shared in these contexts will not contain your personally identifiable information.</p>

          <p>We give you a personal, worldwide, royalty-free, non-assignable, non-transferable, revocable, limited and non-exclusive license to use the Service. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Service as provided by us, in the manner permitted by these Terms of Service.</p>

          <p>You shall not copy, sell, transfer, distribute, publish, or assign your license to our Service in any format to any third party. In addition, you may not use the Service in any way that violates applicable federal, state, or international law, or for any unlawful purpose.</p>

          <p>All right, title, and interest in and to the Service are and will remain the exclusive property of us (and our licensors, if applicable). The Service is protected by copyright, trademark, and other laws of both the United States of America and foreign countries.</p>

          <p>All of the content generated by us for the Service and the software used for the Service is the property of us, our affiliates, or our suppliers, and is protected by United States of America and international copyright laws.</p>

          <p>Nothing should be construed as granting, by implication, estoppels, or otherwise, any license or right to use any of the copyrighted works displayed or contained in the Service without our express, written consent. Nothing in these Terms of Service gives you a right to use any of our, our affiliates&rsquo;, or our suppliers&rsquo; trade names, trademarks, service marks, logos, domain names, and other distinctive brand features.</p>

          <p>Any feedback, comments, or suggestions you may provide regarding the Services is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.</p>

          <h3>INDEMNIFICATION</h3>

          <p>You agree to indemnify, defend, and hold harmless, us and our respective officers, directors, employees, agents, licensors, representatives, and third party providers, to and from and against all claims, losses, expenses, judgment, damages and costs, and consequences of whatever nature, including reasonable attorneys&rsquo; fees, from any violation of this agreement by you or your violation of any rights of a third party. We reserve the right to assume, at our sole expense, the exclusive defense and control of any matter subject to indemnification by you, in which event you will fully cooperate with us in asserting any available defenses.</p>

          <h3>CHOICE OF LAW AND LOCATION FOR RESOLVING DISPUTES</h3>

          <p>These Terms of Service shall be governed and construed in accordance with federal laws of Australia, without giving effect to its conflicts of law principles and without reference to the United Nations Convention on Contracts for the International Sale of Goods, the application of which is expressly excluded. You agree that any disputes arising with us or our affiliates, subsidiaries, employees, contractors, officers, directors, or third party providers from or related to these Terms of Service or your access to or use of the Service shall be resolved exclusively by binding arbitration conducted under the auspices of the federal laws of Australia. You shall be responsible for initial payment of one-half of any arbitration fees, but upon final resolution, the prevailing party shall be entitled to recover its reasonable attorneys&#39; fees and costs. However, each party retains the right to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party&rsquo;s copyrights, trademarks, trade secrets, patents or other intellectual property rights.</p>

          <h3>NON-AUSTRALIA USERS</h3>

          <p>If you are in located outside Australia then by using the Service, you understand and consent to the processing of personal information in Australia.</p>

          <h3>NOTICES</h3>

          <p>Any notices or other communications permitted or required of us under these Terms of Service, including those regarding modifications to these Terms of Service, will be in writing and given to you: i) by us via e-mail (to the address that you provide) or ii) by posting to the Service. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.</p>

          <p>By registering with us, you understand that we may send you communications or data from us regarding the Service, including but not limited to i) notices about your use of the Service, including any notices concerning violations of use, ii) updates, and iii) promotional information and materials regarding our products and services, via e-mail. We give you the opportunity to opt-out of receiving e-mail from us by following the opt-out instructions provided in the message.</p>

          <h3 class="bold">GENERAL</h3>

          <p>If any part of these Terms of Service are determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid enforceable provision that most closely matches the intent of the original provision, and the remainder of this agreement shall continue in effect. A printed version of these Terms of Service and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to these Terms of Service to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. All rights not expressly granted herein are reserved.</p>

          <p>No failure to exercise or enforce any right or provision of these Terms of Service shall constitute a waiver of such right or provision.</p>

          <p>The section titles in these Terms of Service are for convenience only and have no legal or contractual effect.</p>

          <p>You may not assign or transfer these Terms of Service, by operation of law or otherwise, without our prior written consent, which shall not be unreasonably withheld. Any attempt by you to assign or transfer these Terms of Service, without such consent, will be null and of no effect. We may assign or transfer these Terms of Service, at our sole discretion, without restriction. Subject to the foregoing, these Terms of Service will bind and inure to the benefit of the parties, their successors and permitted assigns.</p>

          <p>Any claim related to this contract or the Service must be brought within one year. The one-year period begins on the date when the claim first could be filed. If it is not, then that claim is permanently barred. This applies to you and your successors. It also applies to us and our successors and assigns.</p>

          <p>Neither party shall be responsible for any failure to perform or delay in performing any of its respective obligations under these Terms of Service, except for payment obligations, where and to the extent that such a failure or delay results from causes beyond the control of such party. Such causes shall include, without limitation, delays caused by the other party, failures caused by a third-party service, acts of God or of the public enemy, acts of the government in its sovereign or contractual capacity, fires, floods, epidemics, quarantine restrictions, freight embargoes, strikes, civil commotion, or the like.</p>

          <p>These Terms of Service are the entire and exclusive understanding and agreement between you and us regarding the Service and these Terms of Service supersede and replace any and all prior oral or written understandings or agreements between you and us regarding the Service.</p>

          <h3>QUESTIONS</h3>

          <p>If you have any questions about these Terms of Service, please <a routerLink="/contact">Contact Us</a>.</p>

        </div>
      </div>
    </div>
  </div>
</div>

