<div class="border0px">
  <div class="chk-block-content">
    <div class="table-responsive">
      <table class="table table-striped table-hover" data-filtering="true" data-sorting="true">
        <thead>
          <tr class="footable-filtering">
            <th colspan="8">
                <div class="form-inline">
                    <select id="selectid" class="form-control" name="status" (change)='searchFilter1($event)'>
                      <option selected disabled hidden style='display: none' value=''>Select Status</option>
                      <option value="">All</option>
                      <option value="active">Active</option>
                      <option value="inactive">Inactive</option>
                    </select>
                </div>

                <div class="form-inline">
                  <div class="input-group">
                    <input type="text" class="form-control" (keydown)="updateFilter()" [(ngModel)]="userFilterInput" placeholder='Search'/>
                    <div class="input-group-btn open">
                    </div>
                  </div>
                </div>
            </th>
          </tr>
          <tr class="bg-success">
            <th data-breakpoints="xs sm md" style="width: 6%;">S.No</th>
            <th data-breakpoints="xs sm md">Name
              <span clear text-center (click)="toggleName()">
                <span (click)="sortName(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible"></i>
                </span>
                <span (click)="sortName(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible"></i>
                </span>
              </span>
            </th>
            <th data-breakpoints="xs sm md">Email
              <span clear text-center (click)="toggleEmail()">
                <span (click)="sortEmail(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible1"></i>
                </span>
                <span (click)="sortEmail(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible1"></i>
                </span>
              </span>
            </th>
            <!-- <th data-breakpoints="xs sm md">User ID
              <span clear text-center (click)="toggleUserId()">
                <span (click)="sortUserId(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible2"></i>
                </span>
                <span (click)="sortUserId(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible2"></i>
                </span>
              </span>
            </th> -->
            <th data-breakpoints="xs sm md">Mobile
              <span clear text-center (click)="toggleMobile()">
                <span (click)="sortMobile(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible3"></i>
                </span>
                <span (click)="sortMobile(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible3"></i>
                </span>
              </span>
            </th>
            <th data-breakpoints="xs sm md">Phone
              <span clear text-center (click)="togglePhone()">
                <span (click)="sortPhone(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible4"></i>
                </span>
                <span (click)="sortPhone(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible4"></i>
                </span>
              </span>
            </th>
            <th data-breakpoints="xs sm md">License Number
              <span clear text-center (click)="toggleLicenseNumber()">
                <span (click)="sortLicenseNumber(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible6"></i>
                </span>
                <span (click)="sortLicenseNumber(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible6"></i>
                </span>
              </span>
            </th>
            <th data-breakpoints="xs sm md">Status
              <span clear text-center (click)="toggleStatus()">
                <span (click)="sortStatus(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible5"></i>
                </span>
                <span (click)="sortStatus(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible5"></i>
                </span>
              </span>
            </th>
            <!-- <th data-breakpoints="xs sm md">Employee ID
              <span clear text-center (click)="toggleEmployeeID()">
                <span (click)="sortEmployeeID(true)">
                  <i class="fa fa-sort-asc" *ngIf="!visible7"></i>
                </span>
                <span (click)="sortEmployeeID(false)">
                  <i class="fa fa-sort-desc" *ngIf="visible7"></i>
                </span>
              </span>
            </th> -->
            <th data-breakpoints="xs sm md">Edit/ Deactive</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userListDetailsCommand; let i = index">
            <td>{{i + 1}}</td>
            <td>{{user.firstName}}&nbsp;{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <!-- <td>{{user.userId}}</td> -->
            <td>{{user.mobile}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.licenseNumber}}</td>
            <td>{{user.status}}</td>
            <!-- <td>{{user.empId}}</td> -->
            <td>
              <span class="hand-icon" (click)="editUser(user.id)">
                <i class="fa fa-pencil"></i>
              </span>
              <span style="margin-left: 25px;" class="hand-icon" (click)="updateStatus(user.userId)">
                <i class="fa fa-close"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
