.pull-left {
    float: left;
    margin-left: 420px;
    margin-bottom: -60px;
}
// .pull-left1 {
//     float: left;
//     margin-left: 400px;
// }
.padding-a {
    padding: 5px 0px 5px 30px;
}

.hand-icon {
    cursor: pointer;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed !important;
    width: 100% !important;
}

.table th {
    vertical-align: top !important;
    border-top: 1px solid #DEE4E8 !important;
    word-wrap: break-word;
}

.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #DEE4E8;
    word-wrap: break-word;
}

.border0px {
    border: 0px;
}
