<!-- Post Section -->
<div class="post-section py-5">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-4 mb-3" *ngFor="let post3Column of blogColumn3">
            <div class="card border-0 border-rad">
               <a href="#" [routerLink]="['/blog-detail',post3Column?.link]">
                 <img class="border-rad-top img-fluid w-100" [src]="post3Column?.image_path" alt="Card image cap" width="370" height="250" />
               </a>
              <div class="card-body border-rad-bottom">
                  <h2 class="card-title mb-3 title"><a [routerLink]="['/blog-detail',post3Column?.link]">{{post3Column?.title}}</a></h2>
                  <p class="card-text">{{post3Column?.short_desc}}</p>
                  <div class="card-footer pt-2 p-0">
                     <div class="d-flex justify-content-between">
                        <a class="d-flex align-content-start text-muted">
                           <i class="fa {{post3Column?.user_icon}} mr-2 font-lg"></i>
                           <span class="font-sm"> {{post3Column?.user_name}}</span>
                        </a>
                        <a class="d-flex align-content-end">
                           <i class="fa fa-calendar-o mr-2 font-lg"></i>
                           <span class="font-sm">{{post3Column?.date*1000 | date }}</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Load More -->
<!--<div class="load-more p-4 text-center">-->
   <!--<div class="container">-->
      <!--<a href="javascript:void(0)" class="text-muted font-lg"> <i class="fa fa-refresh mr-3 fa-spin"></i>LOAD MORE </a>-->
   <!--</div>-->
<!--</div>-->

