<!-- Contact Us 2 Widget -->
<div class="mb-4">
  <h2 class="sidebar-title mb-3">Contact Us 2</h2>
</div>
<div class="mb-4">
	<!-- Google Map -->
  <div class="google-maps">
    <div class="mapouter">
       <div class="gmap_canvas">
          <iframe class="border-rad" width="800" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=Mohali%2C%20IN&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          </iframe>embed google map by <a href="http://www.embedgooglemap.net">embedgooglemap.net</a>
       </div>
       <style>.mapouter{overflow:hidden;height:200px;width:800px;}.gmap_canvas {background:none!important;height:200px;width:800px;}</style>
    </div>
  </div>
</div>
<ul class="list-unstyled">
  <li *ngFor="let contactUs of contact" class="d-flex justify-content-start mb-2">
    	<span class="d-flex align-items-start">
    		{{contactUs?.heading}}
    	</span> 
    	<span class="mx-3">: </span>
    	<a href="javascript:void(0)" class="d-flex align-items-start text-dark">
    		{{contactUs?.value}}
    	</a>
  </li>
</ul>