<div class="modal-header">
  <h4 class="modal-title">Select Driver</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="max-height: 480px;overflow: auto;">
  <div *ngFor="let user of rosterAvailableUser" class="chk-block">
    <div class="chk-block-content" style="padding: 10px 0px;">
      <div class="col-md-12" style="display: inline-flex;padding: 0px;">
        <div class="col-md-2">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" style="margin-top: 15px;">
            <input class="custom-control-input" type="checkbox" name="isUserSelected" [checked]="checkSelectedUser(user)" (click)="selectDriver(user, $event.target.checked)">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-md-7" style="margin-top: 15px;">
          <span>{{user.firstName}}  {{user.lastName}}</span>
        </div>
        <div class="col-md-3">
          <img class="userPic" style="height: 60px;" id="userPictureAdd" [src]="getUserImage(user.image)">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->